@import '~global_styles';

.wrapper {
  grid-area: ourServices;
  position: relative;
  border-top: 1px solid $gray;
  padding-top: 70px;
  padding-bottom: 100px
}




.container {
  @include mainContainer();
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;



}


.title {
  @include common-title(hTitle);

}


.innerBlock {
  display: grid;
  grid-template-rows: 300px repeat(2, clamp(300px, 30vw, 475px)) ;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px 50px;

  @include breakpoint(screen1440) {
    gap: 80px 30px;
  }
  @include breakpoint(screen1280) {
    gap: 80px 30px;
  }
}
