@import '~global_styles';

.wrapper {
  width: 100%;
  color: $white;

  &__bg {
    background-image: url('../../../../../../../../../public/img/headBlock/mainBackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.container {
  @include mainContainer();
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titleContainer {
  margin: clamp(9rem, 15vw, 11.875rem) auto;

  @include breakpoint(screen1280) {
    margin: clamp(7rem, 12vw, 10rem) auto;
  }
}


.title {
  @include common-title(h1, $color: $white, );

  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

.subtitle {

  @include common-title(hSubtitle,
    $font-weight: $regular,
    $line-height: 100%,
    $color: $white);
  text-align: center;
  margin-top: 1.25rem;
}

.description {
  @include common-paragraph(pLg,
    $font-weight: $regular,
    $color: $white,
    $line-height: 130%);
  margin-top: 2rem;
}



.info {
  grid-area: container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 125px;
  height: 125px;
  background-color: $accent-gray;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  right: $padding-side;

  @include breakpoint(screen1280) {
    right: calc($padding-side / 1.5);

  }

  &__text {
    @include common-paragraph(pSm,
      $font-family: $ff-openSans,
      $color: $white,
      $line-height: 135%);
  }

  &__years {
    font-family: $ff-openSans;
    font-size: $h1;
    font-weight: $bold;
    line-height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
}
