@import '~global_styles';

.wrapper {
  padding: $padding-gap;
  grid-area: statisticsInfo;

  @include breakpoint(screen1024) {
    padding: $padding-gap-tab;
  }

  @include breakpoint(screen768) {
    padding: $padding-gap-mob;
  }
}
.container {
  @include mainContainer();

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  @include breakpoint(screen1024) {
    grid-template-columns: auto;
    justify-items: center;
  }
}

