@import '~global_styles';

.priceWrapper {
  grid-area: price;

  @include breakpoint(screen1024) {
    display: none;
    visibility: hidden;
  }
}

.priceContainer {
  display: grid;
  grid-template-rows: auto auto;
  position: sticky;
  top: 40px;
  align-self: start;
  margin: 0;
  height: auto;
}
