@import '~global_styles';

.wrapper {
  grid-area: objectsForSale;
  z-index: 0;
  position: relative;
  padding: $padding-gap;

  @include breakpoint(screen1024) {
    padding: $padding-gap-tab;
  }

  @include breakpoint(screen768) {
    padding: $padding-gap-mob;
  }
}

.container {
  @include mainContainer();
  @include flexColumnGap;
  z-index: 1;

  @include breakpoint(screen1024) {
    gap: 30px;
  }
}

.title {
  @include common-title(hTitle);
}

.innerBlock {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 100px;

  @include breakpoint(screen1440) {
    gap: 80px;
  }

  @include breakpoint(screen1280) {
    gap: 60px;
  }

  @include breakpoint(screen1024) {
    gap: clamp(30px, 4.3957vw, 50px);
  }

}
