@import '~global_styles';

.container {
  border: 1px solid $accent-gray;
  box-sizing: border-box;
  height: 55px;
  display: flex;
  align-items: flex-end;
  padding: 0 17px 12px;
  background-color: $white;

  cursor: pointer;
  @include common-link;

  & svg {
    max-width: 87px;
    width: 100%;
  }
}

.innerContainer {
  display: flex;
  align-items: center;
}

.rating {
  @include common-paragraph(p,
    $font-family: $ff-openSans,
    $font-weight: $regular);
  padding: 0 7px 0 17px;
}

.rateIcon {
  display: flex;
  gap: 3px;
}
