@import '~global_styles';

.label {
  position: absolute;

  &_new {
    top: 20px;
    right: 0;

    width: 70px;
    height: 35px;
    border-radius: 27px 0 0 27px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $accent-green;

    @include common-paragraph(p,
      $font-weight: $bold,
      $color: $white,
      $font-family: $ff-openSans,
      $line-height: 110%);

    text-align: center;
    text-transform: uppercase;


    @include breakpoint(screen768) {
      top: 14px;
      height: 30px;
    }

    @include breakpoint(screen480) {
      width: 60px;
    }
  }
}
