@import '~global_styles';

/* общий компонент */
.innerBlock {
  display: grid;
  grid-template-columns: [pic-start] minmax(280px, 850px) [pic-end info-start] 1fr [question-column] auto [info-end];
  grid-template-rows: [text-start] minmax(auto, 1fr) [text-end under-text] minmax(auto, 1fr) [question-start] auto [question-end];
  gap: 20px 10px;
  max-height: 480px;

  &_homePage { /* шаблон для ДОМАШНЕЙ СТРАНИЦЫ */
    grid-template-areas:
    "image title title"
    "image button ."
    "image arrows question";
  }

  &_blogPage { /* шаблон для страницы БЛОГА */
    grid-template-areas:
    "image title title"
    "image tags tags"
    "image button question";
  }
}
/* ------------------- */


/* компонент изображения */
.imageWrapper {
  grid-area: image;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  max-height: 480px;
  object-fit: cover;
  object-position: center;
  clip-path: polygon(
    0% 100%,
    0% 0%,
    100% 0%,
    calc(100% - 50px) 50px,
    calc(100% - 50px) 100%
  );
}
/* ------------------- */

/* заголовок статьи */
.blogTitle {
  grid-area: title;

  @include common-title(hSmall);
  padding-top: clamp(40px, 5vw ,100px);
}
/* ----------------- */

/* кнопка ПОДРОБНЕЕ для перехода на текст статьи */
.button {
  @include common-link;
  @include common-button(colored);
  grid-area: button;
  min-width: 145px;
  justify-self: flex-start;
  &_homePage {
  }
  &_blogPage {
    align-self: center;
  } /* шаблон для страницы БЛОГА */
}
/* ------------------- */

/* кнопки для листания статей в карусели ТОЛЬКО ДЛЯ ГЛАВНОЙ СТРАНИЦЫ!! */
.blogArrows {
  grid-area: arrows;
  //margin-top: 210px;

  &_none { /* отключаем отображение на странице БЛОГА */
    display: none;
  }
}
/* -------------------------- */

/* контейнер для тэгов и количества комментариев */
.blogInfo {
  grid-area: tags;
  display: flex;
  flex-direction: column;

  &_none { /* отключаем отображение на ГЛАВНОЙ */
    display: none;
  }
}

/* контейнер с количеством комментариев */
.commentsContainer {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  color: $black;
  margin-bottom: 30px;
}

.commentsCount {
  margin: 0;
  font-family: $ff-openSans;
  font-size: $fs-navLink;
  font-weight: $regular;
  line-height: 150%;
}
/* ------------------------------ */

/* компонент тэгов */
.tagsContainer {
  display: flex;
  gap: 15px;

}

.tag {
  font-family: $ff-openSans;
  font-size: $paragraph-md;
  font-weight: $regular;
  line-height: 135%;
}
/* -------------------------- */

/* контейнер с кнопкой для ПОП-АПА "Задать вопрос" */
.askYourQuestion {
  grid-area: question;
  align-self: flex-end;

  cursor: pointer;
  background-color: transparent;
  border: none;

  font-family: $ff-openSans;
  padding: 0;
  margin: 10px 0;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  max-height: 35px;

  &__text {
    margin: 0;
    text-wrap: nowrap;
    text-decoration: underline;
    line-height: 100%;
  }

  &__span {
    box-sizing: border-box;
    height: 35px;
    width: 35px;
    text-align: center;
    border: 1px solid $dark;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
}
/* ---------------------------- */
