@import '~global_styles';

/* общий компонент */
.innerBlock {
  display: grid;
  grid-template-rows: [text-start] minmax(auto, 1fr) [text-end under-text] minmax(auto, 1fr) [question-start] auto [question-end];
  grid-template-columns: [pic-start] clamp(700px, 49.4792vw, 850px) [pic-end info-start] 1fr [question-column] auto [info-end];
  //gap: 20px 10px;
  max-height: 480px;

/*   @include breakpoint(screen1440) {
    grid-template-columns: [pic-start] minmax(280px, 700px) [pic-end info-start] 1fr [question-column] auto [info-end];
  } */
  @include breakpoint(screen1280) {
    grid-template-columns: [pic-start] clamp(500px, 47.8516vw, 600px) [pic-end info-start] 1fr [question-column] auto [info-end];
  }
  @include breakpoint(screen1024) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: clamp(480px, 62.5vw, 640px) 1fr auto auto;
  }
  @include breakpoint(screen768) {
    column-gap: 10px;
    grid-template-rows: clamp(240px, 62.75vw, 480px) 1fr auto auto;
  }

  &_homePage { /* шаблон для ДОМАШНЕЙ СТРАНИЦЫ */
    grid-template-areas:
    "image title title"
    "image button ."
    "image arrows question";
  }

  &_blogPage { /* шаблон для страницы БЛОГА */
    grid-template-areas:
    "image title title"
    "image tags tags"
    "image button question";

    @include breakpoint(screen1024) {
      max-height: none;
      grid-template-areas:
      "image image "
      "title title"
      "tags tags"
      "button question";
    }
  }
  &_blogCard { /* шаблон для страницы БЛОГА */
    grid-template-areas:
    "image title title"
    "image tags tags"
    "image question question";

    @include breakpoint(screen1024) {
      max-height: none;
      grid-template-areas:
      "image image "
      "title title"
      "tags tags"
      "button question";
    }
  }
}
/* ------------------- */


/* компонент изображения */
.imageWrapper {
  grid-area: image;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  max-height: 480px;
  object-fit: cover;
  object-position: center;
  clip-path: polygon(
    0% 100%,
    0% 0%,
    100% 0%,
    calc(100% - 60px) 70px,
    calc(100% - 60px) 100%
  );

  @include breakpoint(screen1024) {
    max-height: none;
    clip-path: none;
  }
}
/* ------------------- */

/* заголовок статьи */
.blogTitle {
  grid-area: title;

  @include common-title(hSmall);
  padding-top: 70px;//clamp(40px, 5vw ,100px);
  padding-bottom: 20px;

  @include breakpoint(screen1024) {
    padding-top: 30px;
  }

  @include breakpoint(screen576) {
    padding-top: 20px
  }
}
/* ----------------- */

/* кнопка ПОДРОБНЕЕ для перехода на текст статьи */
.button {
  @include common-link;
  @include common-button(colored);
  grid-area: button;
  min-width: 145px;
  justify-self: flex-start;
  &_homePage {
  }
  &_blogPage {
    align-self: center;
  } /* шаблон для страницы БЛОГА */
  &_blogCard {
    display: none;
  }

  @include breakpoint(screen768) {
    min-width: 0;
    padding: 0 15px;
  }
}
/* ------------------- */

/* кнопки для листания статей в карусели ТОЛЬКО ДЛЯ ГЛАВНОЙ СТРАНИЦЫ!! */
.blogArrows {
  grid-area: arrows;
  //margin-top: 210px;
  display: flex;
  gap: 15px;

  &_none { /* отключаем отображение на странице БЛОГА */
    display: none;
    visibility: hidden;
  }
}

/* -------------------------- */

/* контейнер для тэгов и количества комментариев */
.blogInfo {
  grid-area: tags;
  display: flex;
  flex-direction: column;

  &_none { /* отключаем отображение на ГЛАВНОЙ */
    display: none;
  }
}

/* контейнер с количеством комментариев */
/* .commentsContainer {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  color: $black;
  margin-bottom: 30px;
} */

/* .commentsCount {
  margin: 0;
  font-family: $ff-openSans;
  font-size: $fs-navLink;
  font-weight: $regular;
  line-height: 150%;
} */
/* ------------------------------ */

/* компонент тэгов */
.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  @include breakpoint(screen1024) {
    padding-bottom: 24px;
  }
  @include breakpoint(screen768) {
    padding-bottom: 20px;
  }
}

.tag {
  @include common-paragraph(p,
    $font-family: $ff-openSans);
  line-height: 135%;
}
/* -------------------------- */

/* контейнер с кнопкой для ПОП-АПА "Задать вопрос" */
.askYourQuestion {
  grid-area: question;
  align-self: center;
  justify-self: flex-end;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: $ff-openSans;
  padding: 0;
  //margin: 10px 0;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  max-height: 35px;

  @include breakpoint(screen1024) {
    justify-content: flex-end;
  }

  @include breakpoint(screen768) {
    gap: 7px;
    margin-left: 0;
  }

  &:hover {
    & span {
      background-color: $accent-green;
      color: $white;
      transition: all .2s linear;
    }

    & p {
      color: $accent-green;
      text-decoration: none;
      transition: text-decoration .2s linear;
    }
  }




  &__text {
    @include common-paragraph(p,
    $font-family: $ff-openSans);
    margin: 0;
    text-wrap: wrap;
    text-decoration: underline;
    line-height: 100%;
    text-align: end;
    transition: text-decoration .2s linear;
  }

  &__span {
    @include common-paragraph(p,
    $font-family: $ff-openSans);
    line-height: 100%;
    box-sizing: border-box;
    height: 35px;
    width: 35px;
    text-align: center;
    border: 1px solid $dark;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: all .2s linear;

    @include breakpoint(screen768) {
      padding: 14px;
      height: 30px;
      width: 30px;
    }
    @include breakpoint(screen576) {
      padding: 11px;
      height: 24px;
      width: 24px;
    }


  }
}


/* ---------------------------- */
