@mixin common-button {
  display: inline-block;
  border: none;
  border-radius: $border-radius;
    font-family: $ff-openSans;
  line-height: 130%;
  text-align: center;
  height: 55px;

  padding: 12px 25px;
  cursor: pointer;
}
