@import '~variables';

@mixin common-button($appearance,
                      $padding: 12px 25px,
                      $height: 55px) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: none;
  border-radius: $border-radius;
  font-family: $ff-openSans;
  line-height: 130%;
  text-align: center;

  height: $height;
  padding: $padding;
  cursor: pointer;


  @if $appearance == colored {
    background: $accent-green;
    color: $white;


    &:hover {
      background: $accent-green-hover;
    }
  }

  @if $appearance == transparent {
    border: 1px solid $gray;
    background-color: transparent;
    color: $accent-green;

    &:hover {
      background: $accent-green;
      color: $white;
      border: none;
    }
  }

  @if $appearance == dark {
    background: $dark;
    color: #FFF;
  }

  @if $appearance == light {
    background: $white;
    color: $dark;
    transition: all linear .2s;


    &:hover {
      background: $accent-green;
      color: $white;
      border: none;
      transition: all linear .2s;
    }
  }
}
