@import '~variables';

@mixin common-input {
    box-sizing: border-box;
    border: 1px solid $gray;
    border-radius: $border-radius;
    outline: none;
    background: $white;
    color: $gray;
    font-family: $ff-openSans;
    font-size: 1.125rem;
    font-weight: $regular;
    padding: 9px 30px;

    &:focus {
      outline: none;
      border: 1px solid $accent-green;
    }

    &::placeholder {
      color: $gray;
    }

    &::-webkit-input-placeholder {
      color: $gray;
    }

    &:-moz-placeholder {
      color: $gray;
    }

    &::-moz-placeholder {
      color: $gray;
    }

    &:-ms-input-placeholder {
      color: $gray;
    }

    &::-ms-input-placeholder {
      color: $gray;
    }
}

