@import '~variables';
@import './adaptive';

@mixin common-input {
    box-sizing: border-box;
    border: 1px solid $gray;
    border-radius: $border-radius;
    outline: none;
    background: $white;
    color: $gray;
    font-family: $ff-openSans;
    font-size: $paragraph-md;
    font-weight: $regular;
    padding: 9px 30px;

    @include breakpoint(screen1024) {
      font-size: clamp($paragraph-md-tab, 1.92057vw, $paragraph-md);
    }
    @include breakpoint(screen768) {
      font-size: clamp($paragraph-md-mob, 2.90833vw, $paragraph-md-tab);
    }


    &:focus {
      outline: none;
      border: 1px solid $accent-green;
    }

    &::placeholder {
      color: $gray;
    }

    &::-webkit-input-placeholder {
      color: $gray;
    }

    &:-moz-placeholder {
      color: $gray;
    }

    &::-moz-placeholder {
      color: $gray;
    }

    &:-ms-input-placeholder {
      color: $gray;
    }

    &::-ms-input-placeholder {
      color: $gray;
    }
}

