@import '~variables';

@mixin common-link {
  text-decoration: none;
  font-family: $ff-gothamPro;
  font-size: $fs-navLink;
  font-weight: $medium;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
