@import '~variables';
@import './adaptive';

@mixin mainContainer ($margin: 0 auto,
  $padding-upDown: 0,
  $padding-leftRight: $padding-side,
) {
  box-sizing: border-box;
  width: 100%;
  margin: $margin;
  padding: $padding-upDown $padding-leftRight;
  max-width: calc(1920px - ($padding-side) * 2);


  @include breakpoint(screen1280) {
    padding: $padding-upDown calc($padding-side / 1.5);
    max-width: calc(1280px - ($padding-side / 1.5) * 2);  //?
  }
  @include breakpoint(screen768) {
    padding: $padding-upDown $padding-side-tab;
  }
}
