@import '~variables';
@import './adaptive';

@mixin mainContainer () {
  box-sizing: border-box;
  width: 100%;
  margin: 0 clamp(220px, 15vw, 290px);
  max-width: calc(100% - (clamp(220px, 15vw, 290px) * 2));

  @include breakpoint(screen1680) {
    margin: 0 clamp(180px, 8vw, 220px);
    max-width: calc(100% - (clamp(180px, 8vw, 220px) * 2));
  }
  @include breakpoint(screen1440) {
    margin: 0 clamp(140px, 5vw, 180px);
    max-width: calc(100% - (clamp(140px, 5vw, 180px) * 2));
  }
  @include breakpoint(screen1280) {
    margin: 0 80px;
    max-width: calc(100% - (80px * 2));
  }
}

/* @mixin mainContainer ($margin: 0 auto,
                      $padding: 0 7.5rem) {
  box-sizing: border-box;
  max-width: 1920px;
  width: 100%;
  margin: $margin;
  padding: $padding;
} */

