@import '~variables';

@mixin common-paragraph(
                    $pTag,
                    $font-family: $ff-gothamPro,
                    $font-size: $title,
                    $font-weight: $medium,
                    $line-height: 110%,
                    $margin: 0,
                    $color: $dark,
                    $font-style: normal)  {

    @if $pTag == pXl {
      font-family: $font-family; // Gotham Pro
      font-size: $paragraph-xl;  // 28px
      font-weight: $font-weight; // medium - 500
      line-height: $line-height; //110%,
      margin: $margin;
      color: $color;
      font-style: $font-style;
    }

    @if $pTag == pLg {
      font-family: $font-family; // Gotham Pro
      font-size: $paragraph-lg;  // 24px
      font-weight: $font-weight; // medium - 500
      line-height: 120%;
      margin: $margin;
      color: $color;
      font-style: $font-style;
    }

    @if $pTag == p {
      font-family: $font-family; // Gotham Pro
      font-size: $paragraph-md; // 18px
      font-weight: $font-weight; // medium - 500
      line-height: 140%;
      margin: $margin;
      color: $color;
      font-style: $font-style;
    }

    @if $pTag == pSm {
      font-family: $font-family; // Gotham Pro
      font-size: $paragraph-small; // 12px
      font-weight: $font-weight; // medium - 500
      line-height: 150%;
      margin: $margin;
      color: $color;
      font-style: $font-style;
    }

    @if $pTag == link {
      font-family: $font-family; // Gotham Pro
      font-size: $fs-navLink; // 13px
      font-weight: $font-weight; // medium - 500
      line-height: 150%;
      margin: $margin;
      color: $color;
      font-style: $font-style;
    }
}
