@import '~variables';

@mixin common-paragraph(
                    $pTag,
                    $font-family: $ff-gothamPro,
                    $font-size: $title,
                    $font-weight: $medium,
                    $line-height: 110%,
                    $margin: 0,
                    $color: $dark)  {

    @if $pTag == pXl {
      font-family: $font-family; // Gotham Pro
      font-size: $paragraph-xl;  // 36px
      font-weight: $font-weight; // medium - 500
      line-height: $line-height; //110%,
      margin: $margin;
      color: $color;
    }

    @if $pTag == pLg {
      font-family: $font-family;
      font-size: $paragraph-lg;  // 30px
      font-weight: $font-weight; // medium - 500
      line-height: 120%;
      margin: $margin;
      color: $color;
    }

    @if $pTag == p {
      font-family: $font-family;
      font-size: $paragraph-md; // 22px
      font-weight: $font-weight; // medium - 500
      line-height: 130%;
      margin: $margin;
      color: $color;
    }

    @if $pTag == pSm {
      font-family: $font-family;
      font-size: $paragraph-small; // 14px
      font-weight: $font-weight; // medium - 500
      line-height: 150%;
      margin: $margin;
      color: $color;
    }

    @if $pTag == link {
      font-family: $font-family;
      font-size: $fs-navLink; // 16px
      font-weight: $font-weight; // medium - 500
      line-height: 150%;
      margin: $margin;
      color: $color;
    }
}
