@import '~variables';

@mixin common-title($htag,
                    $font-size: $title,
                    $font-weight: $medium,
                    $line-height: 110%,
                    $margin: 0,
                    $color: $dark)  {

    @if $htag == h1 {
      font-size: $h1; // 65px
      font-weight: $font-weight; // medium - 500
      line-height: $line-height;
      margin: $margin;
      color: $color;
    }

    @if $htag == hTitle {
      font-size: $font-size; // 65px
      font-weight: $font-weight; // medium - 500
      line-height: $line-height;
      margin: $margin;
      color: $color;
    }

    @if $htag == hSubtitle {
      font-size: $subtitle; // 45px
      font-weight: $font-weight;// medium - 500
      line-height: 115%;
      margin: 0;
      color: $color;
    }

    @if $htag == hSmall {
      font-size: $small-title;  //28px
      font-weight: $font-weight; // medium - 500
      line-height: 128.571%;
      margin: 0;
      color: $color;
    }
}
