@import '~global_styles';


.sellerElement {
  display: flex;
  align-items: center;
  gap: 8px;

  @include print(print) {
    gap: 8pt;
  }
}


.sellerPhoto {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  @include print(print) {
    gap: 18pt;
  }

  &_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 80%;

    @include print(print) {
      width: 20mm;
      height: 20mm;
    }
  }
}

.sellerInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  @include print(print) {
    gap: 4pt;
  }
}

.name {
  font-weight: $bold;
  font-size: 16px;
  margin: 0;

  @include print(print) {
    font-size: 15pt;
  }
}

.telNumber {
  font-size: 14px;
  font-weight: $light;
  margin: 0;
  text-wrap: nowrap;

  @include print(print) {
    font-size: 11pt;
  }
}
