@import '~global_styles';

.photosContainer {
  grid-area: photo;
  //@include flexColumnGap($gap: 30px);
}

.mainPhotoContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  max-height: clamp(420px, 38vw, 640px); //clamp(480px, 37.82738vw, 640px);
  border: 1px $gray-light solid;
  border-radius: $border-radius ;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;



  @include breakpoint(screen1024) {
    max-height: clamp(420px, 62.5vw, 640px);
  }

  @include breakpoint(screen768) {
    max-height: clamp(240px, 64.75vw, 420px);
  }

  @include print(none);
}


.imageContainer {
  width: 100%;

  height: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  gap: 10px;

  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }
}



.image {
  width: 100%;
  min-width: 100%;
  max-height: clamp(420px, 38vw, 640px); //
  height: auto;
  object-fit: contain;

  //max-height: 720px; // 640px; // new
  //height: auto;// 100%;  // new

  background: url('../../../../../../../../../public/svg/loader.gif') center center no-repeat; // new
  background-size: 40px; // new


  scroll-snap-align: start;
  scroll-snap-stop: always;

/*   @include breakpoint(screen1024) {
   // max-height: clamp(480px, 62.5vw, 640px);
  } */

/*   @include breakpoint(screen768) {
    //max-height: clamp(240px, 64.75vw, 480px);
  } */



}




.infoButtonContainer {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;

  @include breakpoint(screen768) {
    bottom: 20px;
  }

  @include breakpoint(screen576) {
    bottom: 10px;
  }
}


.smallPhotosContainer {
  @include scrollbar($arrows: false);
  min-width: 0;
  max-width: 100%;
  overflow: auto;
  overflow-x: auto;

  &_isScroll {
    padding: 30px 0;

    @include breakpoint(screen576) {
      padding: 10px 0 20px;
    }
  }

  scroll-snap-type: x mandatory;

  @include print(none);
}

.smallPhotosInner {
  display: grid;
  justify-content: start;
  grid-template-rows: 1fr;
  //grid-auto-columns: clamp(90px, calc((100% / 7) - 18px), 110px);//calc(50% - 20px);
  grid-auto-flow: column;
  gap: 1.125rem;

  @include breakpoint(screen768) {
    gap: 1rem;
  }

  @include breakpoint(screen576) {
    gap: .5625rem;
  }
}

.smallPhoto {
  box-sizing: border-box;
  object-fit: cover;

  transition: all .5s linear;

  max-width: 110px;
  max-height: 110px;

  opacity: .5;
  transition: transform .3s ease; // Плавное изменение масштаба при наведении
  
  background: url('../../../../../../../../../public/svg/loader.gif') center center no-repeat; // new
  background-size: 25px; // new

  scroll-snap-align: start;

  @include breakpoint(screen768) {
    max-width: 100px;
    max-height: 100px;
  }

  @include breakpoint(screen576) {
    max-width: 58px;
    max-height: 58px;
  }


  &:hover {
    transform: scale(1.05);
    /* Увеличение масштаба при наведении */
    opacity: .7;

  }


  &_isActive {
    opacity: 1;
    border: 3px solid $accent-green;
    transform: scale(1.1);
    transition: all .5s linear;

    &:first-child {
      // это для плавного и ровного отображения выделения активного элемента
      margin-left: 6px;
    }

    &:last-child {
      margin-right: 8px;
    }

    &:hover {
      transform: scale(1.1);
      /* Увеличение масштаба при наведении */
      opacity: 1;
    }
  }
}




.arrowNavigate {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(screen768) {
    margin: auto 0;
    max-height: 80px;
  }

  & span {
    background-color: $white;
    opacity: .6;
    transition: opacity .3s linear;

    &:focus {
      outline: auto;
    }

    &:hover {
      opacity: 1;
      transition: opacity .3s linear;
    }
  }


  &_left {
    left: 0;
  }

  &_right {
    right: 0;
  }
}


