@import '~global_styles';

.downloadButton {
  @include common-button(transparent, $padding: 0);
  padding: 5px 5px 5px 22px;
  color: $dark;
  gap: 12px;

  &_icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $accent-green;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
