@import '~global_styles';

.wrapper {
  box-sizing: border-box;


  min-width: calc(50% - 25px);
  border: 1px solid $gray;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.infoContainer {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  min-height: 140px;
  height: auto;
  padding-bottom: 20px; //60px;
  position: relative;

  &__avatar {
    background-color: $gray;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__name {
    @include common-paragraph(pXl);
    max-width: 500px;
  }

  &__date {
    @include common-paragraph(p,
    $font-weight: $regular);

  }


  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px; /* Ширина  бордера */
    height: 4px; /* Толщина  бордера */
    background-color: $accent-green; /* Цвет  бордера */
  }
}

.reviewContainer {
  overflow: hidden;

  height: clamp(145px, 20vh, 175px);

}

.reviewText {
  @include common-paragraph(p,
  $font-weight: $regular);

  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}


.buttonsContainer {
  display: flex;
  gap: 10px;
}

.button {
  @include common-button(transparent);
}
