@import '~global_styles';

.wrapper {
  grid-area: map;
  max-width: clamp(1024px, 100%, 1920px); //1920px;
  width: 100%;
  margin: 0 auto;
  max-height: 600px;

  @include breakpoint(screen1024) {
    max-height: clamp(500px, 61.8407vw, 600px);
  }
  @include breakpoint(screen768) {
    max-height: clamp(240px, 64.5455vw, 500px);
  }
}

.container {
  position: relative;
}

.block {

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .1);
  }
}

.yandexMap {
  z-index: -10;
  height: 600px;
  width: 100%;
  border: none;
  @include breakpoint(screen1024) {
    height: clamp(500px, 61.8407vw, 600px);
  }
  @include breakpoint(screen768) {
    height: clamp(240px, 64.5455vw, 500px);
  }
}
