@import '~global_styles';

.wrapper {
  grid-area: map;
  max-width: clamp(1024px, 100%, 1920px);//1920px;
  width: 100%;
  margin: 0 auto;
;}

.container {
  position: relative;



}

.block {

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: .1);
    }
}

.yandexMap {
  z-index: -10;
  height: 660px;
  width: 100%;
  border: none;
}
