@import '~global_styles';


.imageButton {
  display: flex;
  box-sizing: border-box;
  background: none;
  border: 1px solid $gray;
  cursor: pointer;
  padding: 5px;

}

.image {
  object-fit: contain;
  width: clamp(180px, 20vw, 320px);
  height: auto;

  @include breakpoint(screen768) {
    max-width: 180px;
    width: 100%;
  }


  @include breakpoint(screen640) {
    max-width: none;
    width: 100%;
  }

}
