@import '~global_styles';

.container {
  display: flex;
  gap: 20px;
  max-height: 38px;
}

.phoneNumber {
  font-size: 26px;
  font-weight: $bold;
  line-height: 130%;
}

.buttonCall {
  max-height: 38px;
  padding: 0 15px;
  font-size: 14px;
  line-height: 120%;
}
