@import '~global_styles';

.wrapper {
  border: 1px solid $gray;
  box-sizing: border-box;
  width: 100%;
  height: max(600px, 450px);
  padding: 50px;
  display: flex;
  flex-direction: column;
}


.infoContainer {
  display: flex;
  gap: 30px;
  align-items: center;
  max-height: 100px;
  height: 100%;
  padding-bottom: 80px;
  margin-bottom: 40px;
  position: relative;

  &__avatar {
    background-color: $gray;
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 100px;
    border-radius: 50%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__name {
    @include common-paragraph(pXl);
    max-width: 500px;
  }

  &__date {
    @include common-paragraph(p,
    $font-weight: $regular);

  }


  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px; /* Ширина  бордера */
    height: 4px; /* Толщина  бордера */
    background-color: $accent-green; /* Цвет  бордера */
  }
}

.reviewContainer {
  overflow: hidden;
  margin-bottom: 30px;
  max-height: 175px;
}

.reviewText {
  @include common-paragraph(p,
  $font-weight: $regular);

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}


.buttonsContainer {
  display: flex;
  gap: 15px;
}
