@import '~global_styles';

.descriptionContainer {
  padding-top: 40px;
  @include flexColumnGap($gap: 20px);

  @include breakpoint(screen768) {
    padding-top: 20px;
    gap: 8px;
  }

  @include breakpoint(screen576) {
    padding-top: 10px;
  }
}

.descriptionTitle {
  @include common-title(hSubtitle,
    $color: $accent-green);
}

.descriptionText {
  @include common-paragraph(pXl);
}
