@import '~global_styles';

.storyContainer {
  box-sizing: border-box;

  //max-width: clamp(360px, 55vw, 540px);
  //min-width:  calc(33.3% - 33.3px);
  width: 100%;
  //height: 100%;

  border: 1px solid $gray;

  position: relative;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(screen768) {
    max-width: none;
  }



  &>div>.image {
    opacity: .6;
    transition: opacity .2s linear;
  }

  &:hover {
    & div>.image {
      opacity: 1;
      transition: opacity .2s linear;
    }
  }
}


.imageContainer {
  width: 100%;

  height: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  gap: 2px;

  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth; /* Плавная прокрутка */

  &::-webkit-scrollbar {
    display: none;
  }

  & img {
    transition: transform 0.3s ease-in-out;
    /* Плавный переход при смене слайдов */
  }
}


.image {
  object-fit: contain;
  object-position: center;
  width: 100%;
  min-width: 100%;
  height: 100%;

/*   background: url('../../../../../../../../../public/svg/loader.gif') center center no-repeat; // new
  background-size: 40px; // new
 */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.arrowNavigate {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  & span {
    background-color: $white;
    opacity: .6;
    transition: opacity .3s linear;

    @include breakpoint(screen576) {
      width: 30px !important;
      height: 30px !important;
    }

    &:focus {
      outline: auto;
    }

    &:hover {
      opacity: 1;
      transition: opacity .3s linear;
    }
  }


  &_left {
    left: 0;
    padding: 0 10px 0 20px !important;

    @include breakpoint(screen768) {
      padding: 0 0 0 10px !important;
    }
  }

  &_right {
    right: 0;
    padding: 0 20px 0 10px !important;

    @include breakpoint(screen768) {
      padding: 0 10px 0 0 !important;
    }
  }
}

.progressContainer {
  position: absolute;

  top: 16px;
  left: 0;
  width: calc(100% - 60px);
  padding: 0 30px;

  display: grid;
  gap: 4px;
  grid-auto-columns: 1fr;
  grid-template-rows: 5px;
  grid-auto-flow: column;

  @include breakpoint(screen768) {
    width: calc(100% - 40px);
    padding: 0 20px;
  }

  @include breakpoint(screen480) {
    top: 10px;
  }

}

.progressBar {

  height: 5px;
  width: 100%;
  border-radius: 3px;
  background: linear-gradient(to right, rgba($white, 1) 50%, rgba($white, .35) 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.5s ease;

  &_isActive {
    background-position: left;
  }
}


.labelContainer {
  position: absolute;

  top: 40px;
  left: 0;
  width: calc(100% - 60px);
  padding: 0 30px;

  display: flex;
  gap: 12px;
  align-items: center;

  @include breakpoint(screen768) {
    width: calc(100% - 40px);
    padding: 0 20px;
  }

  @include breakpoint(screen480) {
    top: 28px;
  }

}

.label {
  max-width: 38px;
  width: 100%;
  height: 38px;
  background-color: $accent-green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(screen768) {
    max-width: 35px;
    height: 35px;
  }

  @include breakpoint(screen480) {
    max-width: 30px;
    height: 30px;
  }
}

.labelLogo {
  width: 20px;
  height: 20px;

  & path {
    fill: $gray;
  }

  & path:nth-child(2) {
    fill: $dark;
  }

  & path:nth-child(3) {
    fill: $white;
  }

  padding-bottom: 3px;
}

.labelDescription {
  @include common-paragraph(p,
    $color: $white);
}
