{
  "presets": [
    "next/babel",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["defaults", "not IE 11", "maintained node versions", "safari >= 12"]
        },
        "useBuiltIns": "entry",
        "corejs": "3"
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-named-capturing-groups-regex"]
}
