@import '~global_styles';

.navMenu {
  grid-area: navbar;
  align-self: start;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark;
  //padding: 16px 0;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 10;

  border-bottom: 1px solid gray;

  @include breakpoint(screen1023) {
    flex-direction: column;
    height: 45px;
  }
}


// основные классы меню показа и скрытия
.visible {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}



.listContainer {
  width: 100%;
  display: flex;
  visibility: visible;
  opacity: 1;
  height: max-content;


  @include breakpoint(screen1024) {}

  @include breakpoint(screen1023) {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 11;
    top: 100%;

    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background-color: $dark;
    //transition: all .2s linear;
    transform: translateY(-100%);
    flex-direction: column;


  }

  /*   &_mobile {
    position: absolute;
    z-index: -10000;
    top: -100%;

    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background-color: $dark;
    //transition: all .2s linear;

    flex-direction: column;
  } */

  &_mobileShow {

    @include breakpoint(screen1023) {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      top: 45px;
      z-index: 1;
      transition: all .2s linear;

      padding: 50px calc(clamp(3.125rem, 7vw, 7.5rem) / 1.5) 50px calc(clamp(3.125rem, 7vw, 7.5rem) / 1.5);
      height: calc(100vh + 45px);

      overflow-y: auto;
    }

    @include breakpoint(screen768) {
      padding: clamp(1.875rem, 7.29036vw, 2.5rem) clamp(1.563rem, 6.58724vw, 3.125rem) 30px clamp(1.563rem, 6.58724vw, 3.125rem);
    }
  }
}

.list {
  @include common-ul;

  width: 100%;
  max-width: calc(1680px - (clamp(3.125rem, 4vw, 7.5rem) * 2));
  margin: 0 auto;

  //@include mainContainer();
  display: flex;
  align-items: center;
  justify-content: space-between;



  /*   @include breakpoint(screen1280) {
    padding: 0;
  } */

  @include breakpoint(screen1023) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 192px;
    gap: 18px;
    padding-bottom: 40px;
    border-bottom: 1px solid $gray;
  }

  @include breakpoint(screen576) {
    max-height: none;
    flex-wrap: nowrap;
    padding-bottom: 25px;
  }


  //gap: 1rem;
  & .listItem {
    &:first-of-type {
      margin-left: 1.625rem;

      @include breakpoint(screen1680) {
        margin-left: 1rem;
      }

      @include breakpoint(screen1440) {
        margin-left: .8rem;
      }

      @include breakpoint(screen1280) {
        margin-left: .5rem;
      }

      @include breakpoint(screen1023) {
        margin-left: 0;
      }
    }

    &:last-of-type {
      margin-right: 1.625rem;

      @include breakpoint(screen1680) {
        margin-right: 1rem;
      }

      @include breakpoint(screen1440) {
        margin-right: .8rem;
      }

      @include breakpoint(screen1280) {
        margin-right: .5rem;
      }

      @include breakpoint(screen1023) {
        margin-right: 0;
      }
    }
  }


}

.listItem {
  @include common-li;
  padding: 16px 20px;

  @include breakpoint(screen1680) {
    padding: 16px clamp(8px, 1.2%, 16px);
  }

  @include breakpoint(screen1440) {
    padding: 14px clamp(8px, 1.2%, 16px);
  }

  @include breakpoint(screen1280) {
    padding: 12px 8px;
  }

  @include breakpoint(screen1023) {
    padding: 0;
  }

}

.link {
  @include common-link;
  @include special-text(link, $color: $white);

  &:hover {
    color: $accent-green;
  }

  @include breakpoint(screen1280) {
    font-size: 0.745rem;
  }

  @include breakpoint(screen1023) {
    font-size: 1rem;
  }
}


.activeLink {
  background-color: $accent-green;



  & .link {
    cursor: default;

    &:hover {
      color: $white;
    }
  }

  @include breakpoint(screen1023) {
    background-color: transparent;

    & .link {
      color: $accent-green;
      text-decoration: underline $accent-green 2px;
      text-underline-offset: 4px;
      line-height: 110%;

      &:hover {
        color: $accent-green;
      }
    }
  }
}


// BURGER MENU
.burgerContainer {
  display: none;

  @include breakpoint(screen1023) {
    display: flex;
    z-index: 1;
    opacity: .999999;
  }

  &__container {

    @include breakpoint(screen1024) {
      background-color: transparent;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      height: 45px;
      transition: background-color .2s linear;
    }

    &_active {
      background-color: $accent-green;
      transition: background-color .2s linear;
    }
  }


  &__menuLabel {
    @include special-text(link, $color: $white);
    text-decoration: none;
    line-height: 100%;
    padding: 13.5px 0;
    margin-left: calc(clamp(3.125rem, 7vw, 7.5rem) / 1.5);
    cursor: pointer;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;

    @include breakpoint(screen768) {
      margin-left: clamp(1.563rem, 6.58724vw, 3.125rem);
    }

    @include breakpoint(screen480) {
      font-size: 11px;
      padding: 14.5px 0;
    }

    & svg {
/*         display: flex;
      width: min-content;
      object-fit: contain; */
      height: 20px;
      padding-right: 10px;

      & path:first-child {
        fill: $accent-green;
      }


      @include breakpoint(screen480) {
        height: 16px;
      }


    }
    &_show {
      visibility: visible;
      opacity: 1;
      transition: all .3s linear;
    }

    &_opened {
      & svg {
        & path:nth-child(1) {
          fill: $dark;
        }
        & path:nth-child(2) {
          fill: $dark;
        }
        & path:nth-child(3) {
          fill: $accent-gray;
        }
      }
    }
  }


  &__buttonContainer {
    padding-left: 60px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}



.mobileMenuInfo {
  display: none;

  @include breakpoint(screen1023) {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 40px;
  }

  @include breakpoint(screen576) {
    padding-top: 25px;
    gap: 25px;
  }
}


.contactContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include breakpoint(screen576) {
    gap: 16px;
  }
}

.phoneNumber {
  font-size: $subtitle-mob;
  font-weight: $bold;
  line-height: 160%;

  @include breakpoint(screen320) {
    font-size: $paragraph-lg-tab;
  }

  & span {
    background-color: transparent !important;

    & svg {
      fill: $white;
    }
  }

  &:hover {
    & span {
      background-color: $white !important;

      & svg {
        fill: $accent-green;
      }
    }
  }
}

.buttonCall {
  @include common-button(colored);
  width: max-content;
  padding: 0 15px;
  font-size: 0.8rem;
  line-height: 120%;
}
