@import '~global_styles';



.cardWrapper {
  box-sizing: border-box;

  max-width: clamp(360px, 55vw, 540px);
  //min-width:  calc(33.3% - 33.3px);
  width: 100%;

  //height: 100%;

  border: 1px solid $gray;

  display: grid;
  grid-template-rows: 310px auto;


  @include breakpoint(screen1024) {
    grid-template-rows: clamp(240px, 30.7617vw, 310px) auto;
  }

  @include breakpoint(screen768) {
    max-width: none;
  }

  @media screen and (max-width: 740px) {
    grid-template-rows: clamp(240px, 59.3424vw, 420px) min-content;
  }

}


.link {
  display: block;
  text-decoration: none;
  height: 100%;

  &_image {
    width: 100%;
  }

  &_title {
    width: fit-content;
  }
}

// IMAGE
.imageBlock {
  position: relative;
  display: flex;
  cursor: pointer;

  @include breakpoint(screen1024) {
    height: clamp(240px, 30.7617vw, 310px);
  }

  @media screen and (max-width: 740px) {
    height: clamp(240px, 59.3424vw, 420px);
  }

  @include breakpoint(screen640) {
  }
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;

  background: url('../../../../public/svg/loader.gif') center center no-repeat; // new
  background-color: $white;
  background-size: 40px; // new
  border-bottom: 1px solid $gray;
}

// INFO
.infoBlock {
  background-color: $white;
  padding: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .8rem;
  min-height: 220px;
  max-height: 400px;

  @include breakpoint(screen1440) {
    padding: 20px;
  }

  @include breakpoint(screen1280) {
    padding: 25px;
  }

  @include breakpoint(screen960) {
    padding: 20px;
  }

  @include breakpoint(screen768) {
    min-height: 180px;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.title {
  @include common-title(hSmall);
  cursor: pointer;
  display: flex;

  & .link {
    text-decoration: none;
  }
}

.statusContainer {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: #398281;
}

.status {
  @include common-paragraph(p,
    $color: $accent-green,
    $font-family: $ff-openSans);



  &_bold {
    font-weight: $bold;
  }
}

.address {
  @include common-paragraph(p,
    $font-weight: $regular,
    $font-family: $ff-openSans);
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100px;
    height: 4px;
    background-color: $accent-green;
  }
}

.price {
  @include common-paragraph(pXl,
    $color: $accent-green);
}

.arrow {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $dark;
  border-radius: 50%;
  background: none;
  padding: 0;
  width: 45px;
  height: 45px;


  @include breakpoint(screen768) {
    width: 40px;
    height: 40px;
  }
  @include breakpoint(screen576) {
    width: 35px;
    height: 35px;
  }

  & svg {
    width: 22px;
    height: 8px;
    transition: transform .3s linear;

    @include breakpoint(screen576) {
      width: 50%;
      height: 50%;
    }

  }

  &:hover {
    & svg {
      transition: transform .3s linear;
      transform: translate(6px);
    }
  }

  &_left {
    transform: rotate(180deg);
  }

  &_right {
    transform: rotate(0);
  }
}
