@import '~global_styles';

.wrapper {
  grid-area: description;
  position: relative;
  padding: $padding-gap;
}

.container {
  @include mainContainer;
  @include flexColumnGap;
}

.title {
  @include common-title(h1);
}
