@import '~global_styles';

.wrapper {
  grid-area: description;
  position: relative;
  padding: $padding-gap;

  @include breakpoint(screen1024) {
    padding: $padding-gap-tab;
  }

  @include breakpoint(screen768) {
    padding: $padding-gap-mob;
  }
}

.container {
  @include mainContainer;
  @include flexColumnGap;
}

.title {
  @include common-title(h1);
}
