@import '~global_styles';

.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  padding-top: 70px;


  @include breakpoint(screen1024) {
    padding-top: clamp(2.5rem, 5.02082vw, 4.375rem);
  }

  @include breakpoint(screen960) {
    gap: 30px;
  }
  @include breakpoint(screen768) {
    padding-top: clamp(1.875rem, 7.29036vw, 2.5rem);
  }
}

.inner-common {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;


  @include breakpoint(screen1024) {
    gap: 40px;
  }



  @include breakpoint(screen960) {
    grid-template-columns: auto;
    gap: 30px;
  }

  @include breakpoint(screen576) {
    gap: 20px;
  }
}

.inner {

  &__initial {
    @extend .inner-common;
  }

  &__toggle {
    @extend .inner-common;

    grid-template-areas:
      "info banner"
      "info banner";

    @include breakpoint(screen960) {
      grid-template-areas:
        "info"
        "banner";
    }

    &_hidden {
      padding-top: 0;
      visibility: hidden;
      height: 0;
    }


    &_visible {
      padding-top: 40px;
      visibility: visible;
      height: auto;

      @include breakpoint(screen960) {
        padding-top: 30px;
      }

      @include breakpoint(screen576) {
        padding-top: 20px;
      }
    }
  }
}

.toggleWrapper {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include breakpoint(screen960) {
    gap: 30px;
  }

  @include breakpoint(screen576) {
    gap: 20px;
  }
}

.banner {
  grid-area: banner;
  border: 1px solid $gray;
  border-radius: $border-radius;
  padding: 40px;
  display: flex;
  align-items: flex-start;

  @include breakpoint(screen1024) {
    padding: 32px;
  }

  @include breakpoint(screen960) {
    padding: 24px;
  }

  @include breakpoint(screen576) {
    padding: 16px;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 15px;

  @include breakpoint(screen768) {
    gap: 12px;
  }
}

.subtitle {
  @include common-title(hSmall);
  @include breakpoint(screen768) {
    text-align: justify;
  }
}

.subtitleBanner {
  @include common-title(hSubtitle,
    $color: $accent-green );
    @include breakpoint(screen576) {
      text-align: justify;
    }
}

.paragraph {
  @include common-paragraph(p,
    $font-weight: $regular);

    @include breakpoint(screen576) {
      text-align: justify;
    }
}

.paragraphBanner {
  @extend .paragraph;
  color: $accent-green;
  font-family: $ff-openSans;
}

.link {
  @extend .paragraph;
}

.linkBanner {
  @extend .paragraphBanner;

  //text-decoration: none;

}

.list {
  margin: 0;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.listItem {
  @extend .paragraph;
}

.toggleButton {
  @include common-button(transparent);


  max-width: 240px;
  width: 100%;

  justify-content: space-between;

  &:hover svg {
    stroke: $white;
  }

  @include breakpoint(screen768) {
    max-width: 200px;
    padding: 9px 15px;
  }

  @include breakpoint(screen576) {
    max-width: 180px;
    padding: 5px 12px;
  }
}

.active svg {
  transform: rotate(180deg);
}
