@import '~global_styles';

.wrapper {
  grid-area: aboutUs;
  position: relative;
  z-index: 1;
  padding: $padding-gap;
}


.container {
  @include mainContainer();
  @include flexColumnGap($gap: 50px);
}


.title {
  @include common-title(h1);
}

.subtitle {
  @include common-title(hSubtitle);
}
