@import '~global_styles';

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.title {
  @include common-title(hTitle);
}

.reviewsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}


.buttonReview {
  @include common-button(colored);
}
