@import '~global_styles';


.infoContainer {
  grid-area: info;
  height: auto;

  display: grid;
/*   grid-template-areas:
    "photos"
    "icons"
    "common-info"
    "char"
    "map"; */
  gap: 50px;



  @include breakpoint(screen1024) {
    gap: 40px;
  }
  @include breakpoint(screen640) {
    gap: 30px;
  }
}

.padding-border {
  padding-bottom: 50px;
  border-bottom: 1px solid $gray;

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }

  @include breakpoint(screen1024) {
    padding-bottom: 40px;
  }
  @include breakpoint(screen640) {
    padding-bottom: 30px;
  }
}


.iconsContainer {
 // grid-area: icons;
  @extend .padding-border;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px 20px;

  @include breakpoint(screen576) {
    gap: 20px;
  }
}


.commonInfoContainer {
  //grid-area: common-info;
  @extend .padding-border;

  display: flex;
  flex-direction: column;
  gap: 30px;

  @include breakpoint(screen1024) {
    gap: 24px;
  }
  @include breakpoint(screen768) {
    gap: 20px;
  }
  @include breakpoint(screen576) {
    gap: 12px;
  }
}

.characteristicsContainer {
 // grid-area: char;
  @extend .padding-border;
}

