@import '~global_styles';


.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  @include common-title(hSmall,
    $color: $white);
}

.description {

  @include common-paragraph(p,
    $font-weight: $regular,
    $color: $white,
    $font-family: $ff-openSans);

}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  border: none;
}

.label {
  width: auto;
}

.input {
  width: 100%;
  @include common-input;
  padding: 10px 30px;
  height: 45px
}

.textarea {
  @include common-input;
  width: 100%;
  resize: vertical;
  min-height: 140px;
  max-height: 200px;
  padding: 10px 30px;
}

.button {
  @include common-button(colored);
  width: fit-content;
}

.agreement {
  display: inline-block;

  @include common-paragraph(pSm,
    $font-weight: $regular,
    $color: $white);
}
