@import '~global_styles';

.list {
  @include common-ul;
  display: flex;
  align-items: center;
  gap: 60px;
}

.listItem {
  @include common-li;
}

.link {
  @include common-link;
  color: $white;
  font-size: $fs-navLink;
  line-height: 150%;
  text-transform: uppercase;
}
