@import '~global_styles';

/* .arrows {
  display: flex;
  gap: 15px;
} */

.arrow {
  border: none;
  background: none;
  padding: 0;




  &__inImg {
    background-color: transparent;
    height: 100%;

    &:focus-visible {
      outline: transparent;

      & span {
        outline: auto;
      }
    }
  }



  &_left {
    & svg {
      transform: rotate(180deg);
    }

    &:hover {
      cursor: pointer;
      & svg {
        transition: transform .2s ease;
        transform: rotate(180deg) translate(5px);
      }
    }

    &:disabled {
      cursor: default;
      &:hover {
        & svg {
          transform: rotate(180deg) translate(0);
          transition: transform .2s ease;
        }
      }
    }

  }

  &_right {
    & svg {
      transform: rotate(0);
    }

    &:hover {
      cursor: pointer;
      & svg {
        transition: transform .2s ease;
        transform: translate(5px);
      }
    }

    &:disabled {
      &:hover {
        cursor: default;
        & svg {
          transition: transform .2s ease;
          transform: translate(0);
        }
      }
    }
  }
}


.arrowDesign {
  width: 45px;
  height: 45px;
  border: 1px solid $dark;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;


  & svg {
    transition: transform .3s linear;
    width: 22px;
    height: 8px;

    @include breakpoint(screen576) {
      height: 50%;
      width: 50%;
    }
  }

  @include breakpoint(screen768) {
    height: 40px;
    width: 40px;
  }

  @include breakpoint(screen576) {
    height: 35px;
    width: 35px;
  }

  &:disabled {
    border-color: $gray;
  }

}

.arrow_left.arrow__inImg {
  padding-left: 30px;
  padding-right: 60px;

  @include breakpoint(screen960) {
    padding-right: 30px;
    padding-left: 20px;
  }

  @include breakpoint(screen768) {
    padding-right: 0;
    padding-left: 20px;
  }

  @include breakpoint(screen576) {
    padding-left: 10px;
  }
}

.arrow_right.arrow__inImg {
  padding-right: 30px;
  padding-left: 60px;

  @include breakpoint(screen960) {
    padding-left: 30px;
    padding-right: 20px;
  }

  @include breakpoint(screen768) {
    padding-left: 0;
    padding-right: 20px;
  }

  @include breakpoint(screen576) {
    padding-right: 10px;
  }
}

.disabled {
  &:disabled {
    opacity: .6;
    &:hover {
      opacity: 0.6;
    }

    & svg {
      & path {
        stroke: $gray;
        fill: $gray;
      }
    }
  }
}
