@import '~global_styles';

.arrows {
  display: flex;
  gap: 15px;
}

.arrow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $dark;
  border-radius: 50%;
  background: none;
  padding: 0;
  width: 45px;
  height: 45px;

  & svg {
    transition: transform .3s linear;
  }

  &:hover {
    & svg {
      transition: transform .3s linear;
      transform: translate(5px);
    }
  }
  &_left  {
    transform: rotate(180deg);
  }

  &_right {
    transform: rotate(0);
  }
}


