@import '~global_styles';

.paginationContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.buttonPagination {
  z-index: 2;
  cursor: pointer;
  width: 45px;
  height: 45px;
  box-sizing: border-box;


  color: $dark;
  text-align: center;
  font-size: $paragraph-lg;
  font-weight: $medium;
  line-height: 130%;

  border: 1px solid $dark;
  border-radius: 50%;
  background-color: $white;


  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    &_prev svg {
      transform: rotate(180deg);
    }

    &_next {

    }
  }



}

.active {
  cursor: default;
  color: $white;
  background-color: $accent-green;
  border: 1px solid $accent-green;
}

.disabled {
  border: 1px solid $gray;
  background-color: $white;
  cursor: default;
  & svg path {
    fill: $gray;
    stroke: $gray;
  }
}
