@import '~global_styles';

.imageInfoButton {
  border-radius: 30px;
  max-height: 45px;
  display: inline-flex;

  &__plan {
    background-color: $dark;
  }

  &__youtube {
    background-color: $youtube;
  }
}
.icon {
    width: 35px;
    height: 35px;
    padding: 5px 5px 5px 15px;

    & svg {
      border-radius: 50%;
    }
  }

.link {
    display: flex;
    align-items: center;

    padding-left: 25px;

    text-decoration: none;
    color: $white;
    text-align: center;
    font-family: $ff-openSans;
    font-size: 22px;
    font-weight: $regular;
    line-height: 130%;
  }


