@import '~global_styles';


.innerBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include breakpoint(screen768) {
    gap: 30px;
  }

  @include breakpoint(screen576) {
    gap: 24px;
  }
}

.titleContainer {

  @include flexColumnGap(0.3rem);
}

.title {
  @include common-paragraph(pXl,
    $line-height: 140%,
    $font-weight: $bold);

}

.address {
  @include common-paragraph(pXl,
    $line-height: 140%,
    $font-weight: $regular);
}

.contactsList {
  @include common-ul;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include breakpoint(screen576) {
    gap: 7px;
  }
}

.contactItem {
  @include common-li;
  @include common-button(contact);
  align-items: stretch;
  box-sizing: border-box;
  border-radius: 30px;
  transition: all linear .2s;

  &:hover {
    background-color: $white;


    & svg {
      fill: $white;
    }
  }


  &__icon {
    display: flex;
    width: 35px;
    height: 35px;
    padding-left: 14px;
    padding-right: 4px;

    @include breakpoint(screen768) {
      width: 30px;
      height: 30px;
      padding-left: 12px;
    }

    @include breakpoint(screen576) {
      width: 26px;
      height: 26px;
      padding-left: 6px;
      padding-right: 3px;
    }


    & svg {
      background-color: $white;
      border-radius: 50%;
      border-radius: 50%;
    }
  }



  &__link {
    display: flex;
    align-items: center;
    padding-left: 18px;
    text-decoration: none;
    @include common-paragraph(p,
      $font-weight: $regular,
      $color: $white,
      $font-family: $ff-openSans);
    line-height: 100%;
    text-align: center;

    @include breakpoint(screen768) {
      padding-left: 12px;
    }

    @include breakpoint(screen576) {
      padding-left: 6px;
      font-size: 14px;
    }
  }





  &__telegram {
    border: 2px solid $telegram;
    background-color: $telegram;

    & :hover {
      color: $telegram;

      & svg {
        background-color: $telegram;
      }
    }
  }

  &__whatsapp {
    background-color: $whatsapp;
    border: 2px solid $whatsapp;

    & :hover {
      color: $whatsapp;

      & svg {
        background-color: $whatsapp;
      }
    }
  }

  &__vkontakte {
    background-color: $vkontakte;
    border: 2px solid $vkontakte;

    & :hover {
      color: $vkontakte;

      & svg {
        background-color: $vkontakte;
      }
    }
  }
}
