@import '~global_styles';


.wrapper {
  grid-area: reviews;
  @include mainContainer;
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}



.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include common-title(hTitle, $margin: 0);
}

.reviewsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}


.buttonReview {
  @include common-button(colored);
}



.innerBlock {
  @include scrollbar ($arrows: false);
  max-width: calc(1920px - ($padding-side) * 2);;
  display: grid;
  grid-auto-columns: calc(50% - 25px);
  grid-auto-flow: column;
  column-gap: 50px;
  padding-bottom: 70px;
  overflow-x: auto;
}


