@import '~global_styles';


.wrapper {
  grid-area: reviews;
/*   @include common-wrapper; */
@include mainContainer();
padding: 90px 120px 120px;
margin: 0 auto;

}



.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.title {
  @include common-title(h2, $margin: 0);
}

.reviewsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}


.buttonReview {
  @include common-button(colored);
}



.innerBlock {
  @include scrollbar ($arrows: false);
  max-width: 1664px;
  display: grid;
  grid-auto-columns: calc(50% - 25px);
  grid-auto-flow: column;
  column-gap: 50px;
  padding-bottom: 70px;
  overflow-x: auto;
}


