@import '~global_styles';


.wrapper {
  grid-area: reviews;
  padding: $padding-gap;

  @include breakpoint(screen1024) {
    padding: $padding-gap-tab;
  }

  @include breakpoint(screen768) {
    padding: $padding-gap-mob;
  }
}

.container {
  @include mainContainer();
  @include flexColumnGap;

  @include breakpoint(screen768) {
    gap: 30px;
  }
}

.contentContainer {
  @include scrollbar($arrows: false);
  min-width: 0;
  max-width: 100%;
  overflow: auto;
  overflow-x: scroll;//auto;
  overflow-y: hidden;
  padding-bottom: 50px;

  @include breakpoint(screen960) {
    padding-bottom: 30px;
  }
  @include breakpoint(screen576) {
    padding-bottom: 20px;
  }

  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  /* Плавная прокрутка */
}

.innerBlock {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-columns: calc(50% - 20px);
  grid-auto-flow: column;
  grid-column-gap: 40px;
  max-width: calc(100vw - 120px);//clamp(1.563rem, 6.58724vw, 3.125rem));



  @include breakpoint(screen960) {
    grid-auto-columns:  calc(100vw - $padding-side*2.5);
    max-width:  calc(100vw - $padding-side*2.5);
  }

  @include breakpoint(screen768) {
    grid-auto-columns:  calc(100vw - $padding-side-tab*2.5);
    max-width:  calc(100vw - $padding-side-tab*2.5);
  }
}


