@import '~global_styles';

.container {
  width: auto;

}

.green {
  background-color: $accent-green;

  & svg {
    fill: $accent-green;
  }
}

.gray {
  background-color: $accent-gray;

  & svg {
    fill: $accent-gray;
  }
}

.innerBlock {
  display: flex;
  max-height: 800px;
  max-width: 1920px;
  margin: 0 auto;
  align-items: stretch;

  &_textFirst{
    flex-direction: row-reverse;
  }

}


.imageContainer {
  position: relative;
}

.image {
  object-fit: cover;
  width:  max(350px, 880px);
  height: max(350px, 800px);;
}




.infoContainer {
  margin: auto 100px;
}

.name {
  @include common-title(h3, $color: $white);

}

.jobTitle {
  @include common-paragraph(pLg,
  $color: $white,
  $font-weight: $regular,
  $margin: 25px 0 0);
}




.quoteContainer {
  margin-top: 70px ;
  display: flex;
}

.quotationMark {
  color: $white;
  font-size: 100px;
  font-weight: $medium;
  line-height: 100%;
  margin: 0;
  margin-right: 25px;
}

.quoteText {
  @include common-title(h3small, $color: $white);
  margin-top: 10px;
}
