@import '~global_styles';

.itemContainer {
  display: grid;
  grid-template-columns: minmax(auto, 300px) 1fr;
  grid-template-rows: auto;//repeat(auto-fit, minmax(300px, auto));
  gap: 50px;

  @include breakpoint(screen1440) {
    gap: 20px;
  }

  @include breakpoint(screen1280) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  @include breakpoint(screen1024) {
    gap: 16px;
  }

  @include breakpoint(screen768) {
    grid-template-columns: minmax(240px, 1fr) 1fr;
    grid-template-rows: auto; //minmax(240px, 300px);
    gap: 30px;
  }

  @include breakpoint(screen576) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;//minmax(240px, 280px) min-content;
    gap: 16px;
  }


  // для главной страницы
  &_bigSize {
    grid-column: 1 / 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px; //minmax(300px, 450px);

    @include breakpoint(screen1024) {
      grid-template-rows:  auto; //minmax(240px, 300px);
    }

    @include breakpoint(screen768) {
      grid-column: auto;
      grid-template-columns: minmax(240px, 1fr) 1fr;
      grid-template-rows: auto; //minmax(240px, 300px);
      gap: 30px;
    }

    @include breakpoint(screen576) {
      grid-template-columns: auto;
      grid-template-rows: auto min-content;//minmax(240px, 280px) min-content;
      gap: 16px;
    }
  }

  &_textFirst {
    direction: rtl;
    /* Это переворачивает направление оси */
    text-align: end;

    @include breakpoint(screen768) {
      direction: ltr;
      text-align: start;
    }
  }
}



.imageContainer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(screen576) {
    max-height: 280px;
  }

}

.image {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;

  @include breakpoint(screen1280) {
    max-width: none;
  }

  @include breakpoint(screen576) {
    max-height: 280px;
  }

  &_bigSize {
    max-width: none;
    max-height: 450px;

    @include breakpoint(screen1024) {
      max-height: 350px;
    }

    @include breakpoint(screen768) {
      max-height: 300px;
    }

    @include breakpoint(screen576) {
      max-height: 280px;
    }
  }

  /*   @include breakpoint(screen320) {
    aspect-ratio: 1 / 1;
  } */
}

.infoContainer {
  display: grid;
  gap: 20px;
  justify-items: start;
  grid-template-rows: auto min-content min-content;
  grid-template-areas:
    "title"
    "buttonLink"
    "description";



  @include breakpoint(screen1280) {
    align-content: space-between;
    grid-template-columns: auto min-content;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      "title buttonLink"
      "description description";
  }

  @include breakpoint(screen1024) {
    gap: 16px;
  }

  @include breakpoint(screen960) {
    align-content: initial;
    grid-template-columns: auto;
    grid-template-rows: auto min-content min-content;
    grid-template-areas:
      "title"
      "buttonLink"
      "description";
  }

  @include breakpoint(screen768) {
    justify-content: space-between;
    gap: 15px;
  }

  @include breakpoint(screen576) {
    align-content: space-between;
    justify-content: initial;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;
    gap: 10px;
    grid-template-areas:
      "title buttonLink"
      "description description";
  }

  &_bigSize {
    @include breakpoint(screen1280) {
      grid-template-columns: auto;
      grid-template-rows: auto min-content min-content;
      align-content: stretch;
      grid-template-areas:
        "title"
        "buttonLink"
        "description";
    }

    @include breakpoint(screen768) {
      justify-content: space-between;
      gap: 15px;
    }

    @include breakpoint(screen576) {
      justify-content: initial;
      align-content: space-between;
      grid-template-columns: auto min-content;
      grid-template-rows: auto auto;
      gap: 10px;
      grid-template-areas:
        "title buttonLink"
        "description description";
    }

  }
}

.title {
  @include common-title(hSmall);
  align-self: flex-start;
  grid-area: title;
  direction: ltr;

  @include breakpoint(screen576) {
    align-self: center;
  }

  &_bigText {
    @include common-title(hSubtitle);


    @include breakpoint(screen768) {
      @include common-title(hSmall);
    }
  }

}

/* .innerContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;

  @include breakpoint(screen768) {
  gap: 15px;
  }
}
 */
.linkButton {
  @include common-link;
  @include common-button(colored);
  grid-area: buttonLink;


  @include breakpoint(screen1280) {
    align-self: baseline;
  }

  @include breakpoint(screen768) {
    padding: 7px 20px;
  }

  @include breakpoint(screen576) {
    align-self: center;
    min-width: 0;
    padding: 5px 15px;
  }

  @include breakpoint(screen480) {
    padding: 5px 10px;
  }
}

.description {
  @include common-paragraph(p,
    $font-family: $ff-openSans,
    $font-weight: $regular);
  align-self: flex-end;
  grid-area: description;
  direction: ltr;
}

/* .arrowsButtonContainer {
  display: flex;
  gap: 15px;
}
 */
