.background svg {
    grid-area: container;
    width: 100%;
    position: absolute;
    background-size: cover;
    z-index: -10;

}

.background_top svg {
  top: 0;
}

.background_bottom svg {
  bottom: 0;
}

.background_left svg {
  left: 0;
}

.background_right svg {
  right: 0;
}
