.mainContainer {
  grid-area: main;

  display: grid;
  grid-template-columns: auto;
  grid-template:
  "headBlock"
  "objectsForSale"
  "ourServices"
  "press"
  "blog"
  "team"
  "reviews"
  "contacts";
}
