@import '~global_styles';

@page {
  size: A4 portrait;
  margin: 0;
  
  display: flex;
  justify-content: flex-start;
}


.mainContainer {
  @include mainPageContainer("info"
    "card"
  );

  gap: 60px;

  padding: $padding-gap;

  @include breakpoint(screen1024) {
    padding: $padding-gap-tab;
  }

  @include breakpoint(screen768) {
    padding: $padding-gap-mob;
  }

  @include print(print) {
    padding: 0;
    gap: 0;

  }
}

.printContainer {
  padding: 0 1rem;

  @include print(print) {
    padding: 0;
  }
}
