@import '~global_styles';

.authorContainer {
  align-self: self-start;
  display: flex;
  gap: 20px;
  align-items: center;
}

.authorImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  @include breakpoint(screen1280) {
    width: 80px;
    height: 80px;
  }
  @include breakpoint(screen576) {
    width: 70px;
    height: 70px;
  }
}

.authorName {
  @include common-paragraph(pXl,
    $font-weight: $bold,
  );
}
