@import '~global_styles';

.contactContainer {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 30px;

/*   box-sizing: border-box;
  display: flex;
  flex-direction: column; */
  @include breakpoint(screen1280){
    grid-template-columns: 90px auto;
    gap: 20px;
  }
  @include breakpoint(screen1024){
    max-width: 700px;
    grid-template-columns: 120px auto;
    gap: 40px;
  }
}

.avatar {
  background-color: $gray;
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 100px;
  border-radius: 50%;
  object-fit: cover;
  @include breakpoint(screen1280){
    max-width: 90px;
    max-height: 90px;
  }
  @include breakpoint(screen1024){
    max-width: 120px;
    max-height: 120px;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  height: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__name {
    @include common-paragraph(pXl,
    $font-weight: $bold);
  }

  &__jobTitle {
    @include common-paragraph(p,
    $font-weight: $regular);
  }

  &__location {
    @include common-paragraph(p,
    $font-weight: $bold);

    display: inline-flex;
    gap: 13px;
    align-items: center;

    &_icon {
      display: flex;
    }
  }
}

.phoneNumber {
  @include common-paragraph(pLg,
  $font-weight: $bold);
}

.messengersContainer {
  display: flex;
  gap: 10px;
}
