@import '~global_styles';


.customSelect {
  min-width: 280px;
  height: 45px;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  background-color: $white;
  border: 1px solid $gray;
  border-radius: $border-radius;

  @include common-paragraph(p,
    $font-weight: $regular,
    $font-family: $ff-openSans);

  &_opened {
    border-radius: $border-radius $border-radius 0;
  }


  @include breakpoint(screen768) {
    height: 40px;
  }

  @include breakpoint(screen576) {
    height: 35px;
    min-width: 240px;
  }

  &_selected {
    border: 1px solid $accent-green;
  }

}

.selectSelected {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 22px;
  height: 100%;
  color: rgba($color: $gray, $alpha: .6);
  font-weight: $light;

  cursor: pointer;
  position: relative;

  &_selected:first-of-type {
    color: $dark;
    font-weight: $regular;
    opacity: 1;
  }
}

/* .selectSelected:after {
  position: absolute;
  content: '';
  top: 50%;
  right: 10px;
}
 */
.selectItems {
  position: absolute;
  right: -1px;
  top: 100%;
  min-width: 50%;
  background-color: $white;
  color: $gray;


  overflow-y: auto;
  border: 1px solid $gray;
  border-radius: 0 0 $border-radius ;
  z-index: 1;
  box-sizing: border-box;
  transition: all .3s linear;

  &:first-of-type {
    color: rgba($color: $gray, $alpha: .6)
  }
}

.selectItems div {
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid $gray;
  display: flex;
  align-items: center;
  gap: .75rem;

  &:last-child {
    border-bottom: none;
  }
}

.selectItems div:hover {
  background-color: $accent-green;
  color: $white;

  &>.checkbox:checked {
    background-color: $accent-green-hover-light;
  }
}


.toggleIcon {
  position: absolute;
  right: 1rem;
  top: 52%;
  transform: translateY(-52%);
  transition: transform .3s linear;

  &_opened {
    transform: rotate(180deg) translateY(50%) scaleX(-1);
    transition: transform .3s linear;
  }
}



.checkbox {
  width: 22px;
  height: 22px;

  border: 1px solid $gray;
  border-radius: 5px;

  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  position: relative;
  margin: 0;

  cursor: pointer;
  background: $white;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;



  @include breakpoint(screen768) {
    width: 18px;
    height: 18px;
  }
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:after {
      content: '';
      transition: transform 0.3s ease, opacity 0.2s;

      width: 5px;
      height: 9px;

      border: 2px solid $white;
      border-top: 0;
      border-left: 0;

      opacity: 0;
      transform: rotate(20deg);

      @include breakpoint(screen768) {
        width: 2.5px;
        height: 6px;
      }
    }

    &:checked {
      background: $accent-green;
      border-color: $white;
      transition: transform 0.6s cubic-bezier(0.2, 0.85, 0.32, 1.2), opacity 0.3s;
    }

    &:checked:after {
      opacity: 1;
      transform: rotate(43deg);
    }

    &:hover:not(:checked) {
      border-color: $dark;
    }

    &:focus {
      box-shadow: 0 0 0 2px $black;
    }
  }
}
