@import '~global_styles';


.customSelect {
  min-width: 240px;
  height: 45px;
width: 100%;
  position: relative;
  box-sizing: border-box;

  background-color: $white;
  border: 1px solid $gray;
  border-radius: $border-radius;

  @include common-paragraph(p,
  $font-weight: $regular,
  $font-family: $ff-openSans);

  &_opened {
    border-radius: $border-radius $border-radius 0;

  }
}

.selectSelected {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 22px;
  height: 100%;
  color: $gray;;
  cursor: pointer;
  position: relative;
}

/* .selectSelected:after {
  position: absolute;
  content: '';
  top: 50%;
  right: 10px;
}
 */
.selectItems {
  position: absolute;
  right: -1px;
  top: 100%;
  background-color: $white;


  overflow-y: auto;
  border: 1px solid $gray;
  border-radius: 0 0 $border-radius  ;
  z-index: 1;
  box-sizing: border-box;
  transition: all .3s linear;
}

.selectItems div {
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid $gray;
  &:last-child {
    border-bottom: none;
   }
}

.selectItems div:hover {
  background-color: $accent-green;
  color: $white;
}



.toggleIcon {
  position: absolute;
  right: 1rem;
  top: 52%;
  transform: translateY(-52%);
  transition: transform .3s linear;

  &_opened {
    transform: rotate(180deg) translateY(50%) scaleX(-1);
    transition: transform .3s linear;
}
}
