@import '~global_styles';

.wrapper {
  grid-area: reviewsCards;
  padding: $padding-gap;

  @include breakpoint(screen1024) {
    padding: $padding-gap-tab;
  }

  @include breakpoint(screen768) {
    padding: $padding-gap-mob;
  }
}

.container {
  @include mainContainer();
}

.contentContainer {
  margin-bottom: 50px;
  @include flexColumnGap($gap: 40px);
}

