@import '~global_styles';

.wrapper {
  padding: $padding-gap;
  grid-area: reviewsCards;
}

.container {
  @include mainContainer();
}

.contentContainer {
  margin-bottom: 50px;
  @include flexColumnGap($gap: 40px);
}

