@import '~global_styles';

.wrapper {
  grid-area: card;
  position: relative;

  border-bottom: 1px solid $gray;
  padding-top: 70px;
  padding-bottom: 100px;

}

.mainContainer {
  @include mainContainer();

  display: grid;
  grid-template-columns: minmax(720px, 1100px) minmax(280px, 520px);
  gap: 40px;
  grid-template-areas:
    "title title" // "title ." ???
    "info price";
}
