@import '~global_styles';

.wrapper {
  grid-area: recentlyObjects;
  border-bottom: 1px solid $accent-gray;
  padding: $padding-gap;

  @include breakpoint(screen1024) {
    padding: $padding-gap-tab;
  }

  @include breakpoint(screen768) {
    padding: $padding-gap-mob;
  }
}


.container {
  @include mainContainer();
  @include flexColumnGap();

  @include breakpoint(screen768) {
    gap: 30px;
  }
}


.title {
  @include common-title(hTitle);
}


.contentContainer {
  @include scrollbar($arrows: false);
  min-width: 0;
  max-width: 100%;
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 50px;

  @include breakpoint(screen960) {
    padding-bottom: 30px;
  }

  @include breakpoint(screen576) {
    padding-bottom: 20px;
  }
}

.innerBlock {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-columns: calc(33.3% - calc(80px/3));
  grid-auto-flow: column;
  grid-column-gap: 40px;

  @include breakpoint(screen1280) {
    grid-auto-columns: calc(50% - calc(42px/2));
  }

  @include breakpoint(screen1024) {
    gap: 30px;
  }

  @media screen and (max-width: 740px) {
    max-width: calc(100vw - clamp(3.563rem, 6.58724vw,  6.125rem));
    /* grid-auto-columns: 100%; */
    grid-auto-columns: 60%;
  }

  @include breakpoint(screen576) {
    grid-auto-columns: 100%;
  }
}



/* .innerBlock {
  @include scrollbar ($arrows: false);
  max-width: 1664px;
  display: grid;
  grid-auto-columns: calc(33.3% - 33.3px);
  grid-auto-flow: column;
  column-gap: 50px;
  padding-bottom: 70px;
  overflow-x: auto;
}
 */
