//подключаем normalize
@import './vendor/normalize.scss';

/* @import './global/globals.scss'; */

/* //подключаем переменные
@import './variables/variables';
//подключаем mixin
@import './mixin/index.scss';
 */

//dev-style
body, div, main, section, header, address, nav, ul, li, footer, figure, figcaption, span, img, button, a, p, h1, h2, h3, fieldset, input, form, label, svg {
  outline: solid blue 1px;
}
//

