@import '~global_styles';

.container {
  width: 0 auto;
}

.green {
  background-color: $accent-green;
/*   & svg {
    fill: $accent-green;
  } */
}

.gray {
  background-color: $accent-gray;
/*   & svg {
    fill: $accent-gray;
  } */
}

.innerBlock {
  display: flex;
  max-height: 600px;
  margin: 0 auto;
  align-items: center;
  max-width: 1920px;

  @include breakpoint( screen1680) {
    max-width: calc(1920px - ($padding-side) * 2);
    max-height: fit-content;
  }

  @include breakpoint(screen1024) {
    flex-direction: column;
  }

  &_textFirst{
    flex-direction: row-reverse;

    @include breakpoint(screen1024) {
      flex-direction: column;
    }
  }

}

/*
.imageContainer {
  width: 100%;
  height: clamp(450px, 70vw, 600px)// max(350px, 600px);
} */

.image {
  object-fit: cover;
  width: 50%;
  max-height: 600px;
  //height: clamp(450px, 70vw, 600px);// max(350px, 600px);

  @include breakpoint(screen1024) {
    width: 100%;
    height: clamp(240px, 64.5455vw, 500px);
    max-height: 500px;
  }
}




.infoContainer {
  margin: 0 $padding-side;
  @include flexColumnGap($gap: 40px);
  align-items: flex-start;

  @include breakpoint(screen1280) {
    margin: 0 calc($padding-side / 1.5);
    padding: 40px 0;
  }

  @include breakpoint(screen1024) {
    @include mainContainer($padding-upDown: clamp(2.5rem, 8.15625vw, 3.75rem));
    gap: 24px;
  }

  @include breakpoint(screen768) {
    gap: 16px;
  }
}

.name {
  @include common-title(hSubtitle, $color: $white);
  margin-bottom: 20px;

  @include breakpoint(screen1024) {
margin-bottom: 16px;
  }
  @include breakpoint(screen768) {
margin-bottom: 10px;
  }
}

.description {
  @include common-paragraph(pLg,
  $color: $white);
}

.buttonLink {
  @include common-link;
  @include common-button(light);
}
