@import '~global_styles';

.container {
  width: 0 auto;
}

.green {
  background-color: $accent-green;
/*   & svg {
    fill: $accent-green;
  } */
}

.gray {
  background-color: $accent-gray;
/*   & svg {
    fill: $accent-gray;
  } */
}

.innerBlock {
  display: flex;
  max-height: 600px;
  margin: 0 auto;
  align-items: center;
  max-width: 1920px;

  @include breakpoint( screen1680) {
    max-width: calc(1920px - ($padding-side) * 2);
    max-height: fit-content;
  }

  &_textFirst{
    flex-direction: row-reverse;
  }

}

/*
.imageContainer {
  width: 100%;
  height: clamp(450px, 70vw, 600px)// max(350px, 600px);
} */

.image {
  object-fit: cover;
  width: 50%;
  height: clamp(450px, 70vw, 600px)// max(350px, 600px);
}




.infoContainer {
  margin: 0 $padding-side;
  @include flexColumnGap($gap: 40px);
  align-items: flex-start;

  @include breakpoint(screen1280) {
    margin: 0 calc($padding-side / 1.5);
    padding: 20px 0;
  }


}

.name {
  @include common-title(hSubtitle, $color: $white);
  margin-bottom: 20px;
}

.description {
  @include common-paragraph(pLg,
  $color: $white);
}

.buttonLink {
  @include common-link;
  @include common-button(light);
}
