@font-face {
  font-family: 'Gotham Pro';
  src: url('../../../public/fonts/GothamPro/GothamPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../../../public/fonts/GothamPro/GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../../../public/fonts/GothamPro/GothamPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../../../public/fonts/GothamPro/GothamPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

