@import '~global_styles';

.title {
  @include common-title(hSmall);
}

.inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 40px;
}

.blockInfo {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.label {
  @include common-paragraph(p,
  $font-weight: $bold,
  $font-family: $ff-openSans,
  $color: $white);

  background-color: $accent-gray;
  padding: 0 20px;
  height: 40px;
  display: inline-flex;
  align-items: center;
}

.list {
  @include common-ul;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItem {
  @include common-li;
  @include common-paragraph(p,
  $font-weight: $regular,
  $font-family: $ff-openSans);

  &__spanAccent {
    font-weight: $bold;
  }
}
