@import '~global_styles';


@import '~global_styles';




.infoContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @include print(print) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10pt;
  }
}

.imageContainer {}

.image {
  display: flex;
  overflow: hidden;
  border: 1px $gray-light solid;
  border-radius: $border-radius ;

  width: 100%;
  max-width: 460px;
  max-height: 360px;
  height: auto;
  object-fit: contain;


}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include print(print) {
    gap: 12pt;
  }
}

.characteristicContainer {
  display: flex;
  flex-direction: column;
  gap: .6rem;

  @include print(print) {
    gap: 8pt;
  }
}

.address {
  font-weight: $regular;
  line-height: 120%;
  font-size: 1.5rem;
  margin: 0;

  @include print(print) {
    font-size: 16pt;
  }
}


.info {
  font-weight: $regular;
  line-height: 120%;
  font-size: 1rem;
  margin: 0;

  &_span {
    font-weight: $medium;
  }

  @include print(print) {
    font-size: 13pt;
  }
}



.price {
  font-size: 1.8rem;
  color: $accent-green;

  font-weight: $regular;
  line-height: 115%;
  margin: 0;

  @include print(print) {
    font-size: 20pt;
  }
}
