@import '~global_styles';

.itemBorder {
  border-radius: 30px;
  max-height: 45px;

  &_colored {
    border: 1px solid transparent;
  }

  &_white {
    border: 1px solid $white;
  }

  &_transparent {
    border: 1px solid $accent-gray;
  }
}




.itemLink {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include common-paragraph(p,
  $font-weight: $regular,
  $font-family: $ff-openSans);

  text-decoration: none;
  text-align: center;

  padding-left: 15px;
  border-radius: 30px;

  &_colored {
    color: $white;
  }

  &_white {
    color: $white;
  }

  &_transparent {
    color: $dark;
  }

  &:hover {
    color: $accent-green;
    font-weight: $medium;
  }
}


.itemIcon {
  border-radius: 0 30px 30px 0;
  width: 35px;
  height: 35px;
  padding: 5px 5px 5px 15px;

  & svg {
    border-radius: 50%;
  }

  &_colored svg {
    background-color: $white;
  }

  &_white svg {
    background-color: $white;
  }

  &_transparent {

    &_telegram svg {
      background-color: $telegram;
    }
    &_whatsapp svg {
      background-color: $whatsapp;
    }
  }
}

.svgFill {

  &_transparent path {
    fill: $white;
  }
}
