@import '~global_styles';


.wrapper {
  grid-area: offers;
  position: relative;
  padding: $padding-gap;

  @include breakpoint(screen1024) {
    padding: $padding-gap-tab;
  }

  @include breakpoint(screen768) {
    padding: $padding-gap-mob;
  }
}

.container {
  @include mainContainer();
  @include flexColumnGap;

  @include breakpoint(screen1024) {
    gap: 30px;
  }
}

.title {
  @include common-title(h1);
}

.cardsLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 50px;

  @include breakpoint(screen1280) {
    gap: 40px;
  }

  @include breakpoint(screen1024) {
    gap: 30px;
  }

  @include breakpoint(screen768) {
    //grid-template-columns: auto;
    grid-template-columns: none;
    grid-auto-rows: auto;
    gap: 50px;
  }

  @include breakpoint(screen576) {
    gap: 32px;
  }

}

