.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  &_smallSize {
    grid-column: auto;

  }

  &_bigSize {
    grid-column: 1 / 3;
  }


  &_picFirst {
    grid-template-areas:
    "image info";
  }

  &_textFirst {
    grid-template-areas:
    "info image";
  }
}

.imageContainer {
  grid-area: image;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &_smallSize {
    max-width: 390px;
    max-height: 390px;
  }

  &_bigSize {

  }
}
