@import '~global_styles';

.innerBlock {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  gap: 25px;
  min-height: 600px;

  &_picFirst {
    grid-template-areas:
    "photoSecondary photoGeneral info";
  }

  &_textFirst {
    grid-template-areas:
    "info photoGeneral photoSecondary";
  }
}

.photoGeneral {
  grid-area: photoGeneral;
  position: relative;

  &__image {
    object-fit: cover;
    max-width: 830px;
    max-height: 600px;
  }
}

.photoSecondary {
  grid-area: photoSecondary;
  position: relative;
  background-color: $white;

  &__image {
    object-fit: cover;
    max-width: 410px;
    max-height: 600px;
    filter: opacity(.5);
  }
}
