@import '~global_styles';


.print {
  display: none;


  &__container {
    @include print(print) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

    }
  }


  &__image {
    @include print(print) {
      display: flex;
      overflow: hidden;
      border: 1px $gray-light solid;
      border-radius: $border-radius ;

      width: 100%;
      max-height: 360px;
      height: auto;
      object-fit: contain;

    }
  }

  &__info {
    @include print(print) {
      display: flex;
    }
  }
}
