@import '~global_styles';

.characteristicContainer {
  display: flex;
  flex-direction: column;
  gap: .6rem;

  @include print(print) {
    gap: 8pt;
  }
}
.info {
  font-weight: $regular;
  line-height: 120%;
  font-size: 1rem;
  margin: 0;
  font-weight: $bold;


  @include print(print) {
    font-size: 13pt;
  }
}
