@import '~global_styles';

.innerContainer {
  margin-top: 40px;
  @include flexColumnGap($gap: 20px);
  border: 1px solid $gray;
}

.image {
  max-width: 90vw;
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: fill;
}
