@import '~global_styles';

.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.inner {
  &__initial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  &__toggle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    grid-template-areas:
    "info banner"
    "info banner";


    &_hidden {
      padding-top: 0;
      visibility: hidden;
      height: 0;
    }


    &_visible {
      padding-top: 40px;
      visibility: visible;
      height: auto;
    }
  }
}

.toggleWrapper {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.banner {
  grid-area: banner;
  border: 1px solid $gray;
  border-radius: $border-radius;
  padding: 40px;
  display: flex;
}

.textBlock {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 15px;

  &_banner {
    justify-content: space-between;
  }
}

.subtitle {
  @include common-title(hSmall);

  &_banner {
    color: $accent-green;
    font-size: $subtitle;
  }
}

.paragraph {
  @include common-paragraph(p,
  $font-weight: $regular);

  &_banner {
    color: $accent-green;
    font-family: $ff-openSans;
  }
}




.toggleButton {
  @include common-button(transparent);


  max-width: 275px;
  width: 100%;

  justify-content: space-between;

  &:hover svg {
    stroke: $white;
  }
}

.active svg {
  transform: rotate(180deg);
}
