@import '~global_styles';

.wrapper {
  grid-area: contacts;
  @include common-wrapper;
  grid-template-areas:
  ". container ."
  ". form .";
  border-top: 1px solid $gray;
}

.containerInfo {
  grid-area: container;
  margin: 90px 120px;
}

.title {
  @include common-title(hTitle);;
}


.containerForm {
  grid-area: form;
/*   background-color: $dark; */
  color: $white;

/*   display: flex;
  align-items: stretch;
  max-height: 800px; */
}

.wrapperInner {
  max-width: 880px;
  width: 100%;
  max-height: 800px;
  height: 100%;

  display: flex;
}

.yandexMap {
  height: 800px;
  width: 880px;
  border: none;
}


.wrapperForm {
  margin: 90px 120px;
  width: 100%;
}
