@import '~global_styles';

.footerWrapper {
  grid-area: footer;
  border-top: 1px solid $gray;
  padding: $padding-gap;
}

.container {
  @include mainContainer();
  display: grid;
  align-items: start;
  grid-template-rows: 60px auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "logo logo"
    "nav contacts";
  gap: 45px;
}


.logoContainer {
  grid-area: logo;
}



