@import '~global_styles';

.footerWrapper {
  @include mainContainer();
  border-top: 1px solid $gray;
  margin-top: 70px;
  margin-bottom: 100px;
}

.container {
  display: grid;
  align-items: start;
  grid-template-rows: 60px auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "logo logo"
    "nav contacts";
  gap: 45px;
}


.logoContainer {
  grid-area: logo;
}



.listItem {
  visibility: hidden;

  &_empty1 {
    grid-area: empty1;
  }

  &_empty2 {
    grid-area: empty2;
  }

  &_empty3 {
    grid-area: empty3;
  }
}

.addressContainer {
  font-style: normal;
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}

.phone {
  @include common-paragraph(p,
  $font-weight: $bold,
  $color: $gray-dark);
  text-decoration: none;
}


.contactsList {
  @include common-ul;
  display: flex;

  gap: 10px;
}

.contactItem {
  @include common-li;
  border-radius: 30px;

  &__icon {
    display: flex;


    & svg {
      fill: none;
      width: 35px;
      height: 35px;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    text-decoration: none;
  }
}


.address {
  @include common-paragraph(pSm,
  $font-weight: $regular,
  $color: $gray-dark);
text-align: right;

}
