@import '~global_styles';

.container {
  grid-area: container;
  margin: 90px 120px;
  z-index: 1;
}


.title {
  @include common-title(h2);

}


.innerBlock {
  display: grid;
  grid-template-rows: 384px repeat(2, minmax(384px, 600px)) ;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px 50px;
}
