@import '~global_styles';

.wrapper {
  grid-area: advantages;
  border-bottom: 1px solid $gray;
  padding: $padding-gap;
  position: relative;
}

.container {
  @include mainContainer();
  @include flexColumnGap();
}


.iconsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  @include breakpoint(screen1280) {
    gap: 40px;
  }
}

.title {
  @include common-title(hTitle);
}

.titleContainer {
  @include flexColumnGap($gap: 30px);
}
