@import '~global_styles';

.wrapper {
  grid-area: advantages;
  border-bottom: 1px solid $gray;
  position: relative;
  padding: $padding-gap;

  @include breakpoint(screen1024) {
    padding: $padding-gap-tab;
  }

  @include breakpoint(screen768) {
    padding: $padding-gap-mob;
  }
}

.container {
  @include mainContainer();
  @include flexColumnGap();
}


.iconsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  @include breakpoint(screen1280) {
    gap: 40px;
  }
}

.title {
  @include common-title(hTitle);
}

.titleContainer {
  @include flexColumnGap($gap: 30px);
}
