@import '~global_styles';

.titleContainer {
  @include mainContainer();
  @include flexColumnGap($gap: 40px);
  margin: 70px auto;
  @include breakpoint(screen1024) {
    margin: clamp(2.5rem, 5.02082vw, 4.375rem) auto;
  }

  @include breakpoint(screen768) {
    gap: 30px;
    margin: clamp(1.875rem, 7.29036vw, 2.5rem) auto;
  }
  @include breakpoint(screen576) {
    gap: 24px;
  }

}

.title {
  @include common-title(hTitle);
}

.paragraph {
  @include common-paragraph(p,
  $font-weight: $regular,
  $font-family: $ff-openSans);
  column-count: 2;
  column-gap: 50px;

  @include breakpoint(screen1024) {
    column-count: 1;
  }
}
