@import '~global_styles';

.titleContainer {
  @include mainContainer();
  @include flexColumnGap($gap: 40px);
  margin-bottom: 70px;
}

.title {
  @include common-title(hTitle);
}

.paragraph {
  @include common-paragraph(p,
  $font-weight: $regular,
  $font-family: $ff-openSans);
  column-count: 2;
  column-gap: 50px;
}
