@import '~global_styles';

.wrapper {
  overflow: hidden;
  grid-area: main-catalog;
  z-index: 0;
  position: relative;
  padding: $padding-gap;
}

.container {
  @include mainContainer();
  z-index: 1;
}
