@import '~global_styles';

.priceElement {
  padding-bottom: 40px;
  border-bottom: 2px solid $gray;
  @include flexColumnGap($gap: 15px);

  @include breakpoint(screen1024) {
    border-bottom: 1px solid $gray;
  }

  @include breakpoint(screen768) {
    padding-bottom: 1.75rem;
    gap: 10px;
  }

}

.cost {
  @include common-title(hSubtitle,
  $color: $accent-green);
}

.idNum {
  @include common-paragraph(pXl,
  $line-height: 120%);
  //margin-bottom: 15px;
}

/* .buttonContainer {
  display: flex;
  gap: 20px 10px;
  flex-wrap: wrap;
} */

/* .button {
  @include common-button(colored,
  $padding: 0 25px);
  font-size: 22px;
  max-width: 225px;
//  margin-top: 20px;
  &__call {
    background-color: $accent-gray;
    flex-grow: 4;
  }

  &_write {
    flex-grow: 1;

  }
} */




/* .telNumber {
  @include common-link;
  @include common-paragraph(pXl,
  $line-height: 120%);

  display: block;
  margin-bottom: 25px;
} */

/* .telInfo {
  @include common-paragraph(p,
  $font-weight: $regular,
  $font-family: $ff-openSans);

  padding-left: 50px;
  position: relative;

  &::before {
    position: absolute;
    content: '!';
    font-weight: $bold;
    font-size: $paragraph-xl;
    top: -5px;
    left: 0;
    width: 35px;
    height: 35px;
    border: 1px solid $dark;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
 */
