//---OTHER---//
$border-radius: 27px;
$scrollbar-width: .8rem;


$padding-side: clamp(3.125rem, 7vw, 7.5rem);  //clamp(50px, 7vw, 120px);
$padding-gap: 70px 0 100px;


$margin-side: 18.125rem; // 290px
$gap-title: 3.125rem; //50px;
