//---COLOR---//
$white: #ffffff;
$black: #000000;

$dark: #37393F;

$gray: #A1A9AC;
$gray-dark: #7D868A;
$gray-light: #E1E1E1;

$accent-green: #398281;
$accent-green-hover: #398281bb;
$accent-gray: #A59E94;

$whatsapp: #35B649;
$telegram: #42A5D3;
$vkontakte: #5484B2;
$youtube: #FC0D1B;


//---FONT---//
/* font-family */
$ff-gothamPro: var(--gothamPro);
$ff-openSans: var(--openSans);

/* font-weight: */
//$extra-light: 200;
//$light: 300;
$regular: 400;
$medium: 500;
//$semi-bold: 600;
$bold: 700;
$extra-bold: 900;
//font-size:
$decorate: 6rem; //96px;
$h1: 80px;//48px;

$title: 80px;
$subtitle: 60px;
$small-title: 36px;


$fs-navLink: 16px;
$paragraph-lg: 30px;
$paragraph-md: 22px;
$paragraph-small: 14px;
/*
$title: 1.625rem; //26px;
$subtitle: 1.375rem; //22px;


$paragraph-xl: 1.25rem; //20px;
$paragraph-lg: 1.125rem; //18px;
$paragraph-md: 1rem; // 16px;
$paragraph-sm: 0.875rem; //14px;
$paragraph-xs: 0.75rem; //12px */

//
$border-radius: 27px;

$scrollbar-width: 1rem;

/* $gap: 5rem; //80px;
$margin-side: 5rem; //80px;

$border-radius: 10px;
$scrollbar-width: 0.8rem;
 */
