@import '../mixin/adaptive';


//---COLOR---//
$white: #ffffff;
$black: #000000;
$dark: #37393F;

$gray: #A1A9AC;
$gray-dark: #7D868A;
$gray-light: #E1E1E1;
$accent-gray: #A59E94;

$accent-green: #398281;
$accent-green-hover: #398281bb;

/* messengers */
$whatsapp: #35B649;
$telegram: #42A5D3;
$vkontakte: #5484B2;
$youtube: #FC0D1B;


//---FONT---//
/* font-family */
$ff-gothamPro: var(--gothamPro);
$ff-openSans: var(--openSans);

/* font-weight: */
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 900;

//font-size:
$decorate: 5rem; // 80px |96px;

$h1: 4.063rem; // 65px | 80px

$title: 4.063rem; // 65px
$subtitle: 2.813rem; // 45px |60px;
$small-title: 1.75rem; //28px |36px;

$paragraph-xl: 1.75rem; //28px |36px;
$paragraph-lg: 1.5rem; // 24px |30px;
$paragraph-md: 1.125rem; // 18px |22px;
$paragraph-small: 0.75rem; // 12px |14px;

$fs-navLink: 0.813rem; // 13px //clamp(13px, 1vw, 16px);

//---OTHER---//
$border-radius: 27px;
$scrollbar-width: 1rem;


$padding-side: clamp(3.125rem, 7vw, 7.5rem);  //clamp(50px, 7vw, 120px);

$margin-side: 18.125rem; // 290px
$gap-title: 3.125rem; //50px;
