@import '../mixin/adaptive';


//---COLOR---//
$white: #ffffff;
$black: #000000;
$dark: #37393F;

$gray: #A1A9AC;
$gray-dark: #7D868A;
$gray-light: #E1E1E1;
$accent-gray: #A59E94;

$accent-green: #398281;
$accent-green-hover: #398281bb;

/* messengers */
$whatsapp: #35B649;
$telegram: #42A5D3;
$vkontakte: #5484B2;
$youtube: #FC0D1B;


//---FONT---//
/* font-family */
$ff-gothamPro: var(--gothamPro);
$ff-openSans: var(--openSans);

/* font-weight: */
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 900;

//font-size:
$decorate: 6rem; //96px;
$h1: clamp(45px, 6vw, 80px);// 80px;//48px;

$title: 80px;
$subtitle: 60px;
$small-title: 36px;


$fs-navLink: 0.813rem; // 13px //clamp(13px, 1vw, 16px);


$paragraph-xl: 36px;
$paragraph-lg: 30px;
$paragraph-md: 22px;
$paragraph-small: 14px;


//---OTHER---//
$border-radius: 27px;
$scrollbar-width: 1rem;


$padding-side: 120px;

$margin-side: 18.125rem; // 290px

