@import '~global_styles';

.container {
  width: 0 auto;

  /*   &:last-of-type {
    margin-bottom: 20px;
  } */
}

.green {
  background-color: $accent-green;

  & svg {
    fill: $accent-green;
  }
}

.gray {
  background-color: $accent-gray;

  & svg {
    fill: $accent-gray;
  }
}

.innerBlock {
  display: flex;
  max-height: 720px;
  margin: 0 auto;
  align-items: center;
  max-width: 1920px;
  gap: 80px;

  @include breakpoint(screen1680) {
    max-width: calc(1920px - ($padding-side) * 2);
    max-height: fit-content;
  }

  @include breakpoint(screen1280) {
    max-width: calc(1280px - clamp(3.125rem, 7vw, 7.5rem) / 1.5);
    margin: 0;
    gap: 60px;
  }

  @include breakpoint(screen1024) {
    gap: 40px;
    margin: 0 auto;
  }

  @include breakpoint(screen768) {
    gap: 0;
    flex-direction: column;
  }

  &_textFirst {
    flex-direction: row-reverse;

    @include breakpoint(screen768) {
      flex-direction: column;
    }
  }


}

/*
.imageContainer {
  width: 100%;
  height: clamp(450px, 70vw, 600px)// max(350px, 600px);
} */

.image {
  object-fit: cover;
  width: 50%;
  max-height: 720px;
  // height: clamp(450px, 70vw, 600px);// max(350px, 600px);

  @include breakpoint(screen768) {
    width: 100%;
    height: clamp(240px, 64.5455vw, 500px);
    max-height: 500px;
  }
}




.infoContainer {
  margin-right: $padding-side;
  padding: 40px 0;
  max-width: clamp(400px, 45vw, 645px);

  @include breakpoint(screen1280) {
    margin-right: calc($padding-side / 1.5);
    //padding-right: calc(clamp(3.125rem, 7vw, 7.5rem) / 1.5);
  }

  &_textFirst {
    margin-right: 0;
    margin-left: $padding-side;

    @include breakpoint(screen1280) {
      //padding-left: calc(clamp(3.125rem, 7vw, 7.5rem) / 1.5);
      margin-right: 0;
      margin-left: calc($padding-side / 1.5);
    }
  }



  @include breakpoint(screen768) {
    max-width: none;
    @include mainContainer($padding-upDown: clamp(2.5rem, 10.15625vw, 3.75rem));
  }
}

.name {
  @include common-title(hSubtitle, $color: $white);

}

.jobTitle {
  @include common-paragraph(pLg,
    $color: $white,
    $font-weight: $regular,
    $margin: 12px 0 0);
  line-height: 140%;

  @include breakpoint(screen768) {
    margin-top: 8px;
  }

  @include breakpoint(screen576) {
    margin-top: 4px;
  }
}




.quoteContainer {
  margin-top: 45px;
  display: flex;

  @include breakpoint(screen1024) {
    margin-top: 35px;
  }

  @include breakpoint(screen768) {
    margin-top: 25px;
  }

  @include breakpoint(screen576) {
    margin-top: 20px;
  }
}

.quotationMark {
  @include special-text(decorate,
    $font-weight: $medium,
    $line-height: 100%,
    $color: $white);
  margin-right: 20px;

  @include breakpoint(screen1024) {
    margin-right: 16px;
  }

  @include breakpoint(screen576) {
    margin-right: 10px;
  }
}

.quoteText {
  @include common-paragraph(pLg, $color: $white);
  margin-top: 10px;
}
