@import '~global_styles';

.container {
  width: 0 auto;

/*   &:last-of-type {
    margin-bottom: 20px;
  } */
}

.green {
  background-color: $accent-green;

  & svg {
    fill: $accent-green;
  }
}

.gray {
  background-color: $accent-gray;

  & svg {
    fill: $accent-gray;
  }
}

.innerBlock {
  display: flex;
  max-height: 600px;
  margin: 0 auto;
  align-items: center;
  max-width: 1920px;

  @include breakpoint( screen1680) {
    max-width: calc(1920px - ($padding-side) * 2);
    max-height: fit-content;
  }

  &_textFirst{
    flex-direction: row-reverse;
  }

}

/*
.imageContainer {
  width: 100%;
  height: clamp(450px, 70vw, 600px)// max(350px, 600px);
} */

.image {
  object-fit: cover;
  width: 50%;
  height: clamp(450px, 70vw, 600px)// max(350px, 600px);
}




.infoContainer {
  margin: 0 $padding-side;

  @include breakpoint(screen1280) {
    margin: 0 calc($padding-side / 1.5);
    padding: 20px 0;
  }
}

.name {
  @include common-title(hSubtitle, $color: $white);

}

.jobTitle {
  @include common-paragraph(pLg,
  $color: $white,
  $font-weight: $regular,
  $margin: 12px 0 0);
}




.quoteContainer {
  margin-top: 45px ;
  display: flex;
}

.quotationMark {
  color: $white;
  font-size: $decorate;
  font-weight: $medium;
  line-height: 100%;
  margin: 0;
  margin-right: 20px;
}

.quoteText {
  @include common-paragraph(pLg, $color: $white);
  margin-top: 10px;
}
