@import '~global_styles';

.container {
  width: 0 auto;

/*   &:last-of-type {
    margin-bottom: 20px;
  } */
}

.green {
  background-color: $accent-green;

  & svg {
    fill: $accent-green;
  }
}

.gray {
  background-color: $accent-gray;

  & svg {
    fill: $accent-gray;
  }
}

.innerBlock {
  display: flex;
  max-height: 600px;
  margin: 0 auto;
  align-items: center;
  max-width: 1920px;

  @include breakpoint( screen1680) {
    max-width: calc(1920px - ($padding-side) * 2);
    max-height: fit-content;
  }

  @include breakpoint(screen768) {
    flex-direction: column;
  }

  &_textFirst{
    flex-direction: row-reverse;

    @include breakpoint(screen768) {
      flex-direction: column;
    }
  }


}

/*
.imageContainer {
  width: 100%;
  height: clamp(450px, 70vw, 600px)// max(350px, 600px);
} */

.image {
  object-fit: cover;
  width: 50%;
  max-height: 600px;
 // height: clamp(450px, 70vw, 600px);// max(350px, 600px);

  @include breakpoint(screen768) {
    width: 100%;
    height: clamp(240px, 64.5455vw, 500px);
    max-height: 500px;
  }
}




.infoContainer {
  margin: 0 $padding-side;

  @include breakpoint(screen1280) {
    margin: 0 calc($padding-side / 1.5);
    padding: 40px 0;
  }

  @include breakpoint(screen768) {
    @include mainContainer($padding-upDown: clamp(2.5rem, 10.15625vw, 3.75rem));

  }
}

.name {
  @include common-title(hSubtitle, $color: $white);

}

.jobTitle {
  @include common-paragraph(pLg,
  $color: $white,
  $font-weight: $regular,
  $margin: 12px 0 0);
  line-height: 140%;

  @include breakpoint(screen768) {
    margin-top: 8px;
  }
  @include breakpoint(screen576) {
    margin-top: 4px;
  }
}




.quoteContainer {
  margin-top: 45px ;
  display: flex;

  @include breakpoint(screen768) {
    margin-top: 25px;
  }
  @include breakpoint(screen576) {
    margin-top: 20px;
  }
}

.quotationMark {
  @include special-text(decorate,
            $font-weight: $medium,
            $line-height: 100%,
            $color: $white);
  margin-right: 20px;
}

.quoteText {
  @include common-paragraph(pLg, $color: $white);
  margin-top: 10px;
}
