@import '~global_styles';

.popup {
  &_open {
    transition: all .3s linear;
    visibility: visible;
    opacity: 1;
    z-index: 10000;
  }

  &_close {
    transition: all .3s linear;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
  }

}

.popupOverlay {
  background-color: rgba(30, 31, 36, 0.7);

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

}
.popupContainer {
  background-color: $white;
  position: relative;
  width: 100%;
  padding: 40px;
  margin: 20px;

  &_form {
    max-width: clamp(550px, 33.3%, 640px);
    & a {
      color: $dark;
    }
  }

  &_reviewFull {
    max-height: 80vh;
    max-width: calc(1920px - clamp(3.125rem, 7vw, 7.5rem) * 2);
    overflow-y: auto;
  }

  &_reviewImage {
    max-width: clamp(550px, 33.3%, 640px);
  }

  &_video {  //?
    height: clamp(200px, 45vw, calc(100% - 40px));
    max-height: 80vh;
    max-width: calc(1920px - clamp(3.125rem, 7vw, 7.5rem) * 2);
  }

}

.popupCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 45px;
  height: 45px;

  border: 1px solid $dark;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s linear;

  & svg {
    width: 17px;
    height: 17px;
    stroke: $dark;
  }

  &:hover {
    background-color: $accent-green;
    border: 1px solid $accent-green;
    transition: all .3s linear;

    & svg {
      stroke: $white;
    }
  }
}

