@import '~global_styles';

.blogTextContainer {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;

  @include breakpoint(screen1024) {
    padding-top: clamp(50px, 6.67vw, 70px);
    border-top: 1px solid $gray;
    grid-template-columns: auto;
    gap: clamp(30px, 4.3945vw, 50px);
  }
  @include breakpoint(screen768) {
    padding-top: clamp(30px, 6.5vw, 50px);
  }
}



.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include breakpoint(screen768) {
    gap: .8rem;
  }
  @include breakpoint(screen480) {
    gap: .6rem;
  }
}




.p {
  @include common-paragraph(p,
    $font-family: $ff-openSans,
    $font-weight: $regular);
}

.strong {
  font-weight: $bold;
}

.em {
  font-style: italic;
}

.h2 {
  @include common-paragraph(pXl,
    $font-family: $ff-openSans,
    $font-weight: $regular);
    padding-bottom: .5rem;
}

.h3 {
  @include common-paragraph(pLg,
    $font-family: $ff-openSans,
    $font-weight: $regular);
    padding-bottom: .5rem;
}

.blockquote {
  margin: 0;

  & p {
    color: $accent-green;
  }
}

.del {
  text-decoration: line-through;
}

.ul {
  margin: 0;
}

.ol {
  margin: 0;
}

.li {
  @include common-paragraph(p,
  $font-family: $ff-openSans,
  $font-weight: $regular);
  margin: .5rem 0;
}

.a {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $accent-green;
  }
}
