@import '~global_styles';


.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  @include common-title(hSmall,
    $color: $white);
}

.description {

  @include common-paragraph(p,
    $font-weight: $regular,
    $color: $white,
    $font-family: $ff-openSans);

}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  border: none;
}

.label {
  width: auto;
}

.input {
  width: 100%;
  @include common-input;
  padding: 10px 30px;
  height: 45px
}

.textarea {
  @include common-input;
  width: 100%;
  resize: vertical;
  min-height: 140px;
  max-height: 200px;
  padding: 10px 30px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.buttonImg {
  @include common-button(light);
  color: $gray;

  &:hover {
    border: 1px solid $white;

    & svg {
      stroke: $white;
    }
  }
}

.icon {
  display: flex;
  margin-left: 12px;
}

.buttonSubmit {
  @include common-button(colored);
  width: fit-content;
}
