@import '~global_styles';

.label {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
  cursor: pointer;
  background-color: $white;
  transition: background-color .3s linear;

  &:hover {
    background-color: $youtube;
    transition: background-color .3s linear;
  }


  & svg {
    width: 35px;
    height: 35px;
    &:hover {
      transition: fill .3s linear;
        fill: $white;
    }
  }
}
