@import '~global_styles';

.wrapper {
  grid-area: contactUs;
  background-color: $accent-gray;
}

.container {
  max-width: 1920px;
  max-height: 600px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 40px;
}


.image {
  flex-basis: 50%;
  object-fit: cover;
  height: clamp(450px, 50vw, 600px);// max(350px, 600px);
  width: 100%;
/*
  flex-shrink: 3;
  object-fit: cover;
  max-height: 600px; */
}



.innerContainer {
  flex-basis: 60%;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding-left: $padding-side;

  @include breakpoint(screen1280) {
    padding-left: calc($padding-side / 1.5);
  }
}

.titleContainer {
  @include flexColumnGap($gap: 20px);
}

.title {
  @include common-title(hSubtitle, $color: $white);
}

.schedule {
  @include common-paragraph(pLg,
  $font-weight: $regular,
  $line-height: 120%,
  $color: $white);
}

.addressContainer {
  font-style: normal;
  display: flex;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;

}

.callLink {
  display: flex;
  align-items: center;
  gap: 20px;

  @include common-link;

  @include common-paragraph(pLg,
  $font-weight: $bold,
  $color: $white);

  & svg {
    fill: $white;
  }

  &:hover {
    color: $accent-green;
    transition: all 0.2s linear;

    & svg {
      fill: $white;
    }

    & .callIcon {
      border: 1px solid $accent-green;
      background-color: $accent-green;
      transition: all 0.3s linear;
    }
  }
}

.callIcon {
  border: 1px $white solid;
  border-radius: 50%;
  max-width: 38px;
  max-height: 38px;
  box-sizing: border-box;
  display: inline-flex;
  background-color: transparent;
  transition: background-color 0.3s linear;
}



.contactsList {
  @include common-ul;
  display: flex;
  gap: 10px;
}

.contactItem {
  @include common-li;
  border-radius: 30px;
  max-height: 45px;
  border: 1px solid $white;

  &__icon {
    width: 35px;
    height: 35px;
    margin: 5px 5px 5px 15px;
    background-color: $white;
    border-radius: 50%;

    & svg {
      border-radius: 50%;
      fill: $accent-gray;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    padding-left: 20px;

    @include common-paragraph(p,
    $font-weight: $regular,
    $color: $white,
    $font-family: $ff-openSans);

    text-decoration: none;
    text-align: center;
  }
}


.buttonCall {
  @include common-button(dark);
  @include common-paragraph(p,
  $font-weight: $regular,
  $color: $white,
  $line-height: 120%);
  width: fit-content;
}
