@import '~global_styles';

.wrapper {
  grid-area: contactUs;
  @include common-wrapper;
  color: $white;
  grid-template-areas: none;
}


.imageContainer {
  position: relative;
}

.image {
  object-fit: fill;
  width:  max(350px, 880px);
  height: max(350px, 800px);;
}

.infoContainer {
  margin: 200px auto auto 120px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}


.title {
  @include common-title(h3, $color: $white);
  margin-bottom: 25px;
}

.schedule {
  font-size: $paragraph-lg;
  font-weight: $regular;
  line-height: 120%;
  margin: 0;
  margin-bottom: 50px;
}

.addressContainer {
  font-style: normal;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.callLink {
  display: flex;
  align-items: center;
  gap: 20px;

  @include common-link;
  @include common-title(pLg,
      $font-weight: $bold,
      $color: $white);

  & svg {
    fill: $white;
  }

  &:hover {
    color: $accent-green;
    transition: all 0.2s linear;

    & svg {
      fill: $white;
    }

    & .callIcon {
      border: 1px solid $accent-green;
      background-color: $accent-green;
      transition: all 0.3s linear;
    }
  }
}

.callIcon {
  border: 1px $white solid;
  border-radius: 50%;
  max-width: 38px;
  max-height: 38px;
  box-sizing: border-box;
  display: inline-flex;
  background-color: transparent;
  transition: background-color 0.3s linear;
}



.contactsList {
  @include common-ul;
  display: flex;
  gap: 10px;
}

.contactItem {
  @include common-li;
  border-radius: 30px;
  max-height: 55px;
  border: 1px solid $white;

  &__icon {
    width: 45px;
    height: 45px;
    margin: 5px 5px 5px 15px;
    background-color: $white;
    border-radius: 50%;

    & svg {
      border-radius: 50%;
      fill: $accent-gray;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    padding-left: 20px;

    text-decoration: none;
    color: $white;
    text-align: center;
    font-family: $ff-openSans;
    font-size: 22px;
    font-weight: $regular;
    line-height: 130%;
  }
}


.buttonCall {
  max-height: 55px;
  padding: 0 20px;
  font-size: 22px;
  line-height: 120%;
  box-sizing: border-box;
}
