@import '~global_styles';


.addressContainer {
  grid-area: contacts;
  font-style: normal;
  text-align: end;
  display: flex;

  justify-content: space-between;
  gap: 20px;

  &_footer {
    flex-direction: column;
    align-items: flex-end;
  }

  &_nav {
    flex-direction: row-reverse;

    @include breakpoint(screen576) {
      flex-wrap: wrap;
      flex-direction: row;
    }
  }



  @include breakpoint(screen576) {
    align-items: flex-start;
    gap: 1rem;
  }
}

.phone {
  @include common-paragraph(p,
    $font-weight: $bold,
    $color: $gray-dark);
  text-decoration: none;

  @include breakpoint(screen576) {
    display: none
  }

  &:hover {
    color: $accent-green;
  }

}


.contactsList {
  @include common-ul;
  display: flex;

  gap: 10px;
}

.contactItem {
  @include common-li;
  border-radius: 30px;

  & svg {
    transition: all linear .2s;
    fill: $accent-gray;
    background-color: transparent;
    border-radius: 50%;
  }

  &:hover {
    & svg {
      transition: all linear .2s;
      fill: $white;
    }
  }

  &__icon {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid $accent-gray;
  }

  &__link {
    display: flex;
    align-items: center;

    text-decoration: none;
  }


  &__telegram {


    & :hover {
      color: $telegram;

      & svg {
        background-color: $telegram;
      }
    }
  }

  &__whatsapp {


    & :hover {
      color: $whatsapp;

      & svg {
        background-color: $whatsapp;
      }
    }
  }

  &__vkontakte {


    & :hover {
      color: $vkontakte;

      & svg {
        background-color: $vkontakte;
      }
    }
  }
}


.address {
  @include common-paragraph(pSm,
    $font-weight: $regular,
    $color: $gray-dark);

  &_footer {
    text-align: right;
    @include breakpoint(screen576) {
      text-align: start;
    }
  }

  &_nav {
    text-align: start;
flex-shrink: 3;

    @include breakpoint(screen576) {
      order: -1;
    }
  }
}
