@import '~global_styles';


.iconsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  @include breakpoint(screen1280) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.advantageIconComponent {
  display: grid;
  align-content: space-between;
  grid-template-columns: 100px auto;
  gap: 28px;
}
.iconContainer {
  background-color: $accent-green;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    width: 55%;
    height: 55%;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  @include common-paragraph(pLg,
    $line-height: 130%);



  &_spanAccent {
    @extend .text;
    font-weight: $extra-bold;
  }
}
//////////


