@import '~global_styles';


.iconsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  @include breakpoint(screen1280) {
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(screen768) {
    gap: 30px;
    grid-template-columns: auto;
  }
  @include breakpoint(screen576) {
    gap: 25px;
  }
}

.advantageIconComponent {
  display: grid;
  align-content: space-between;
  grid-template-columns: 100px auto;
  gap: 28px;
/*   @include breakpoint(screen768) {
    grid-template-columns: 80px auto;
    gap: 20px;
  }
  @include breakpoint(screen576) {
    grid-template-columns: 65px auto;
    gap: 16px;
  } */
  @include breakpoint(screen768) {
    grid-template-columns: clamp(80px, 17.8281vw, 110px) auto;
    gap: 1rem;
  }
  @include breakpoint(screen576) {
    grid-template-columns: clamp(70px, 15.8281vw, 80px) auto;
  }
}

.iconContainer {
  background-color: $accent-green;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(screen768) {
    width: clamp(80px, 17.8281vw, 110px);
    height: clamp(80px, 17.8281vw, 110px);
  }
  @include breakpoint(screen576) {
    width: clamp(70px, 15.8281vw, 80px);
    height: clamp(70px, 15.8281vw, 80px);
  }
/*   @include breakpoint(screen768) {
    width: 80px;
    height: 80px;
  }
  @include breakpoint(screen576) {
    width: 65px;
    height: 65px;
  } */

  & svg {
    width: 55%;
    height: 55%;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  @include common-title($htag: hSmall);
/*   @include common-paragraph(pLg,
    $line-height: 130%); */



  &_spanAccent {
    @extend .text;
    font-weight: $extra-bold;
  }
}
