@import '~global_styles';

.sellerElement {
  padding-top: 2.5rem;

  display: flex;
  gap: 20px;

  @include breakpoint(screen1024) {
    padding-bottom: 40px;
    border-bottom: 1px solid $gray;
  }

  @include breakpoint(screen768) {
    gap: 1rem;
  }

  @include breakpoint(screen576) {
    padding: 30px 0;
    gap: 14px;
  }
}


.sellerPhoto {
  display: flex;

  &_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 80%;
    background-color: $gray-light;

    @include breakpoint(screen768) {
      width: 70px;
      height: 70px;
    }

    @include breakpoint(screen576) {
      width: 60px;
      height: 60px;
    }
  }
}

.sellerContainer {
  display: grid;
  gap: .75rem;
  width: 100%;
  @include breakpoint(screen1024) {
    width: 100%;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    grid-auto-flow: column;
    align-items: center;
  }

  @include breakpoint(screen1024) {
    gap: .375rem;
  }

  @include breakpoint(screen576) {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 10px;
  }
}

.name {
  @include common-paragraph(pXl,
    $font-weight: $bold,
    $line-height: 120%);
  text-wrap: wrap;
}

.description {
  @include common-paragraph(p,
    $font-weight: $regular,
    $font-family: $ff-openSans);
}

.contactButton {
  @include common-button(transparent,
    $padding: 0 0 0 20px);
  border-radius: 30px;
  max-height: 55px;
  max-width: 225px;

  @include common-paragraph(p,
    $color: $dark,
    $font-family: $ff-openSans,
    $font-weight: $regular);

  &__icon {
    width: 35px;
    height: 35px;
    padding: 5px 5px 5px 10px;

    & svg {
      border-radius: 50%;
      width: 35px;
      height: 35px;
    }
  }
}

.telNumber {
  @include common-link;
  @include common-paragraph(pXl,
    $line-height: 120%);
  margin-bottom: .5rem;
  text-wrap: nowrap;
width: fit-content;
  &:hover {
    color: $accent-green;
  }


  @include breakpoint(screen1024) {
    margin-bottom: 0;
  }
}

.messengersContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;


  @include breakpoint(screen1024) {
    flex-direction: column;
    align-items: flex-end;
    align-self: start;
    grid-row: 1 / 3;
  }

  @include breakpoint(screen576) {
    grid-row: unset;
    flex-direction: row;
    align-items: flex-start;
  }
}
