@import '~global_styles';

.sellerElement {
  padding-top: 40px;

  display: flex;
  gap: 20px;

  @include breakpoint(screen1024) {

  }
}


.sellerPhoto {
  display: flex;
  &_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 80%;
  }
}

.sellerContainer {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
}

.name {
  @include common-paragraph(pXl,
            $font-weight: $bold,
            $line-height: 120%);
}

.description {
  @include common-paragraph(p,
        $font-weight: $regular,
        $font-family: $ff-openSans);
}

.contactButton {
  @include common-button(transparent,
  $padding: 0 0 0 20px);
  border-radius: 30px;
  max-height: 55px;
  max-width: 225px;

  @include common-paragraph(p,
  $color: $dark,
  $font-family: $ff-openSans,
  $font-weight: $regular);

  &__icon {
    width: 35px;
    height: 35px;
    padding: 5px 5px 5px 10px;

    & svg {
      border-radius: 50%;
      width: 35px;
      height: 35px;
    }
  }
}

.telNumber {
  @include common-link;
  @include common-paragraph(pXl,
  $line-height: 120%);
  margin-bottom: .5rem;

  &:hover {
    color: $accent-green;
  }
}

.messengersContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;


  @include breakpoint(screen1440) {
    flex-direction: column;
    align-content: flex-start;
    align-items: stretch;
  }
}
