@import '~global_styles';

.award {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  width: 100%;

  &__imgBlock {
    position: absolute;
    top: -100px;
    left: 0;

    @include breakpoint(screen1280) {
      top: -100px;
      left: 0;
    }
  }

  &__image {
    max-width: 140px;
    max-height: 348px;
    object-fit: contain;

    @include breakpoint(screen1280) {
      max-width: none;
      max-height: none;
      width: 65%;
      height: 65%;
    }
  }

  &__infoBlock {
    display: flex;
    align-items: center;
    background: $accent-green;
    margin-left: 90px;
  }

  &__info {
    @include common-paragraph(pXl,
      $color: $white);
    padding: 40px 80px;
    margin: 0;


    @include breakpoint(screen1280) {
      padding: 50px 70px;
    }
  }

  &__description {
    position: relative;
    @include common-paragraph(pSm,
      $font-weight: $regular,
      $color: $white);
    margin: 20px 20px 0 180px;

    &_dot {
      position: absolute;
      top: 0;
      left: -10px;
    }
  }
}
