@import '~global_styles';


.container {
  position: relative;
  display: flex;

  &:focus-within {
    & button {
      border: 1px solid $accent-green;
    }


    svg {
      stroke: $accent-green;
    }
  }



  &_header {
    flex-shrink: 4;
    width: 100%;
    min-width: 240px;

    @include breakpoint(screen960) {
      display: none;
    }
  }

  &_blog {
    max-width: clamp(450px, 70vw, 900px);
    width: 100%;

    @include breakpoint(screen768) {
      max-width: none;
    }
  }

}

.input {
  @include common-input;
  width: 100%;

  &_header {
    line-height: 140%;
    font-size: 0.75rem;
    padding: 6px 40px 6px 15px;
    height: 30px;
  }

  &_blog {
    border: 1px solid $dark;
    height: 45px;
    padding: 11px 55px 11px 25px;
    line-height: 100%;

    @include breakpoint(screen768) {
      height: 40px;
      padding: 6px 55px 6px 20px;
    }

    @include breakpoint(screen576) {
      height: 35px;
      padding-left: 14px;
      padding-right: 50px;
    }



  }
}

.buttonSearch {

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: $white;
  padding: 0;
  border: none;


  &:hover {
    background-color: $accent-green;

    & svg {
      stroke: $white;
    }
  }


  @include breakpoint(screen768) {
    width: 30px;
    height: 30px;
  }

  @include breakpoint(screen576) {
    width: 27px;
    height: 27px;
  }

}

.icon {
  display: inline-flex;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);




  &_header {
    & svg {
      width: 19px;
      height: 19px;
    }
  }

  &_blog {
    & svg {
      width: 25px;
      height: 25px;
    }

    @include breakpoint(screen768) {
      & svg {
        width: 20px;
        height: 20px;
      }
    }

    @include breakpoint(screen576) {
      right: 4px;
      & svg {
        width: 17px;
        height: 17px;
      }
    }
  }

}
