@import '~global_styles';


.container {
  position: relative;
  display: flex;

  &:focus-within {
    svg {
      stroke: $accent-green;
    }
  }



  &_header {
    flex-shrink: 4;
    width: 100%;
    min-width: 240px;

    @include breakpoint(screen960) {
      display: none;
    }
  }

  &_blog {
    max-width: clamp(450px, 70vw, 900px);
    width: 100%;

    @include breakpoint(screen768) {
      max-width: none;
    }
  }

}

.input {
  @include common-input;
  width: 100%;

  &_header {
    line-height: 140%;
    font-size: 0.75rem;
    padding: 6px 40px 6px 15px;
    height: 30px;
  }

  &_blog {
    border: 1px solid $dark;
    height: 45px;
    padding: 11px 40px 11px 25px;
    line-height: 100%;
    @include breakpoint(screen768) {
      height: 40px;
      padding: 6px 40px 6px 20px;
    }
    @include breakpoint(screen576) {
      height: 35px;
      padding-left: 14px;
    }



  }
}

.icon {
  display: inline-flex;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  &_header {
    width: 19px;
    height: 19px;
  }

  &_blog {
    width: 1.5rem;
    height: 1.5rem;

    @include breakpoint(screen768) {
      width: 1.2rem;
      height: 1.2rem;
    }
    @include breakpoint(screen576) {
      width: 1rem;
      height: 1rem;
    }
  }

}
