@import '~global_styles';


.wrapper {
  grid-area: blog;
  position: relative;
  padding: $padding-gap;

  @include breakpoint(screen1024) {
    padding: $padding-gap-tab;
  }
}

.container {
  @include mainContainer();
@include flexColumnGap;
}

.title {
  @include common-title(hTitle);;
}
