@import '~global_styles';


.wrapper {
  grid-area: blog;
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
}

.container {
  @include mainContainer();
@include flexColumnGap;
}

.title {
  @include common-title(hTitle);;
}
