@import '~global_styles';


.outsideContainer {
  position: relative;
  width: 100%;
  max-width: 210mm;
  height: 100%;
  min-height: 297mm;
  margin: auto;
  /* для центровки страницы */
  outline: 1px solid $dark;

  @include print(print) {

    margin: auto;
    padding: 0;
  }

}

.innerContainer {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 16px;

  @include print(print) {
    padding: 10mm;
    padding-bottom: 15mm;
    gap: 12pt;
  }
}

.logoContainer {
  position: absolute;
  top: 2mm;
  right: 10px;
  transform-origin: right top;
  scale: .65;

  @include print(print) {
    top: 4mm;
    right: 10mm;
  }
}

.commonInfoContainer {
  padding: 1.5rem 0;
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;

  text-align: justify;

  display: flex;
  flex-direction: column;
  gap: .8rem;


  @include print(print) {
    padding: 12pt 0;
    gap: 8pt;

  }
}
