@import '~global_styles';

.container {
  grid-area: info;

  display: grid;
  align-content: space-between;
  row-gap: 2rem;
  max-width: 410px;
  
  &_left {
    justify-self: flex-start;
  }

  &_right {
    justify-self: flex-end;
  }
/*
  &__block {
    &_objects {

    }

    &_services {
      max-width: 530px;
    }
  } */
}

.wrapper {
  display: flex;
  flex-direction: column;

  &_left {
    align-items: flex-start;
    text-align: start;

  }

  &_right {
    align-items: flex-end;
    text-align: end;

  }
}

.title {
  @include common-title(hSubtitle);
  margin-bottom: auto;
}

.button {
  @include common-button(colored);
}

.description {
  font-family: $ff-openSans;
  font-size: $paragraph-md;
  font-weight: $regular;
  line-height: 130%;
  margin: 0;
  margin-top: 25px;
}


.arrowsCardInfo {
  margin-top: 25px;
}

.arrowsButtonContainer {
  display: flex;
  gap: 15px;
}
