@import '~global_styles';

.logo {
  flex-shrink: 2;
  display: inline-flex;


  //height: 60px;
  //margin-top: 35px;
  //cursor: pointer;
  & svg {
    display: flex;
    //width: min-content;
    object-fit: contain;

    @include breakpoint(screen1280) {
      max-width: 80px;
    }
    @include breakpoint(screen960) {
      width: 100%;
    }
  }

  &_gray  {
    & svg {
      fill: $gray;
    }
  }
}
