@import '~global_styles';

.colored {
  @include common-button (colored);
/*   background: $accent-green;
  color: #FFF; */
}

.transparent {
  @include common-button(transparent);
/*   border: 1px solid $gray;
  background-color: transparent;
  color: $accent-green; */
}

.dark {
  @include common-button(dark);
/*   background: $dark;
  color: #FFF; */
}
