@import '~global_styles';

.wrapper {
  grid-area: callToAction;
  padding: $padding-gap;
  background-image: url('../../../../../../../public/img/common-images/backgroundCallToAction.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}


.container {
  @include mainContainer();

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.callText {
  @include common-title(hTitle,
          $color: $white);

}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.subtitle {
  @include common-paragraph(pLg,
          $color: $white);
}

.info {
  display: flex;
  align-items: baseline;
  gap: 15px;

  &__bullet {
    max-width: 30px;
    width: 100%;
    max-height: 30px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent-green;
    border-radius: 50%;

    & svg {
      padding-top: 3px;
      stroke: $white;
      transform: rotate(-90deg) scale(0.55);
    }
  }

  &__text {
    @include common-paragraph(p,
          $font-weight: $regular,
          $color: $white,
          $font-family: $ff-openSans);
  }
}


.button {
  @include common-button(light);

}
