@import '~global_styles';

.imageInfoButton {
  max-height: 45px;
  display: inline-flex;
  @include common-button($appearance: youtube,
                          $padding: 0 0 0 25px);
  text-align: center;
  font-size: 22px;
  font-weight: $regular;
  min-width: 0;



  &:hover {
    & .icon {
      background-color: $youtube;
    }


    & svg {
      transition: background-color .3s linear, fill .3s linear, scale .3s linear;
      fill: $white;
      background-color: $youtube;
      scale: 1.5;
    }
  }


}
.icon {
    width: 35px;
    height: 35px;
    margin: 5px 5px 5px 15px;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;


/*     &:hover {
      background-color: $youtube;



      & svg {
        transition: all .3s linear;
        background-color: $youtube;
        fill: $white;
        scale: 1.5;
      }
    } */

    & svg {
      transition: background-color .3s linear, fill .3s linear, scale .3s linear;
      background-color: $white;
      width: 20px;
      height: 14px;
    }
  }


