@import '~global_styles';

.link {
  @include common-link;
  @include common-button(transparent,
  $padding: 9px 0);

  &_padding {
    padding-left: 25px;
  }

}

.icon {
  box-sizing: border-box;
  width: 36.82px;
  height: 36.82px;
  margin: 4px 4px 4px 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &_cian {
    background-color: $cian;
    border: 1px solid $cian;
  }
  &_yandex {
    background-color: $white;
    border: 1px solid $gray;
  }

  & svg {
    width: 80%;
    height: 80%;
    border-radius: 20%;
  }
}
