@import '~global_styles';

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.tagContainer {
  box-sizing: border-box;
  border: 1px solid $dark;
  border-radius: $border-radius;
  background-color: $white;
  transition: all .3s linear;

  height: 45px;
  padding: 11px 25px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @include common-paragraph(p,
    $font-family: $ff-openSans,
    $font-weight: $regular, );

  &:hover {
    cursor: pointer;
    background-color: $accent-green;
    color: $white;
    border: 1px solid $accent-green;

    transition: all .3s linear;
  }
}
