@import '~global_styles';

.wrapper {
  grid-area: video;
  padding-top: 50px;

  @include breakpoint(screen1024) {
    padding-top: clamp(2.5rem, 5.02082vw, 4.375rem);
  }

  @include breakpoint(screen768) {
    padding-top: clamp(1.875rem, 7.29036vw, 2.5rem);
  }
}

.container {
  @include mainContainer();
  height: clamp(180px, 47vw, 720px);


}

.video {
  width: 100%;
  height: 100%;
  border: none;
}
