@import '~global_styles';

.advantageIconComponent {
  display: grid;
  grid-template-columns: 130px auto;
  align-content: space-between;
  gap: 2rem;

    @include breakpoint(screen1280) {
      grid-template-columns: 110px auto;
      gap: 1.8rem;
    }

    @include breakpoint(screen768) {
      grid-template-columns: clamp(80px, 17.8281vw, 110px) auto;
      gap: 1rem;
    }
    @include breakpoint(screen576) {
      grid-template-columns: clamp(70px, 15.8281vw, 80px) auto;
    }
}


.iconContainer {
  background-color: $accent-green;
  width: 130px;
  height: 130px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    height: 50%;
    width: 50%;
  }

  @include breakpoint(screen1280) {
    width: 110px;
    height: 110px;
  }

  @include breakpoint(screen768) {
    width: clamp(80px, 17.8281vw, 110px);
    height: clamp(80px, 17.8281vw, 110px);
  }
  @include breakpoint(screen576) {
    width: clamp(70px, 15.8281vw, 80px);
    height: clamp(70px, 15.8281vw, 80px);
  }
}



.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  @include breakpoint(screen960) {
    gap: 10px;
  }
}

.title {
  @include common-title(hSmall);

/*   @include breakpoint(screen1024) {
    font-size: $paragraph-lg;
  } */
}

.description {
  @include common-paragraph(p,
  $font-weight: $regular,
  $font-family: $ff-openSans);
}
