@import '~global_styles';

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  gap: 25px;
  max-height: 475px;

  @include breakpoint(screen1440) {
    grid-template-columns: 1.2fr 1.6fr 1.2fr;
  }

  /*   @include breakpoint(screen1024) {
    grid-template-columns: 1fr 1fr;
  } */

  @include breakpoint(screen768) {
    grid-template-rows: auto auto;
    max-height: none;
    justify-content: stretch;
    gap: 20px;
  }

  @include breakpoint(screen480) {
    gap: 16px;
  }

  &_picFirst {
    grid-template-areas:
      "photoSecondary photoGeneral info";

    @include breakpoint(screen1024) {
      grid-template-columns: 1.5fr 1fr;
      grid-template-areas:
        "photoGeneral info";
    }

    @include breakpoint(screen768) {
      grid-template-columns: auto;
      grid-template-areas:
        "photoGeneral"
        "info";
    }
  }

  &_textFirst {
    grid-template-areas:
      "info photoGeneral photoSecondary";

    @include breakpoint(screen1024) {
      grid-template-columns: 1fr 1.5fr;
      grid-template-areas:
        "info photoGeneral";
    }

    @include breakpoint(screen768) {
      grid-template-columns: auto;
      grid-template-areas:
        "photoGeneral"
        "info";
    }
  }
}

.photoGeneral {
  position: relative;
  grid-area: photoGeneral;
  /*   position: relative;
  width: 100%;
  height: 100%; */
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 830px;
    max-height: 475px;
    min-height: 240px;
  }

  @include breakpoint(screen768) {
    height: clamp(280px, 60.7575vw, 450px);
    max-width: none;
  }
}

.photoSecondary {
  grid-area: photoSecondary;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: $white;
  display: flex;

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 410px;
    max-height: 600px;
    filter: opacity(.5);
  }

  @include breakpoint(screen1024) {
    display: none;
    visibility: hidden;
    max-width: none;
    max-height: none;
  }
}

//

.innerBlock {
  grid-area: info;

  display: grid;
  align-content: space-between;
  row-gap: 2rem;
  //max-width: 410px;

  @include breakpoint(screen768) {
    align-content: start;
    gap: 12px;
  }

  &_left {
    justify-self: flex-start;

    @include breakpoint(screen768) {
      justify-self: normal;
    }
  }

  &_right {
    justify-self: flex-end;

    @include breakpoint(screen768) {
      justify-self: normal;
    }
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;

  &_left {
    align-items: flex-start;
    text-align: start;

    @include breakpoint(screen768) {
      text-align: start;
    }
  }

  &_right {
    align-items: flex-end;
    text-align: end;

    @include breakpoint(screen768) {
      text-align: start;
    }
  }

  @include breakpoint(screen768) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}


.title {
  @include common-title(hSubtitle);

  &_link {
    color: $dark;
    text-decoration: none;

    &:focus {
      outline: none;
    }
  }
}

.link {
  @include common-link;
  @include common-button(colored);

  @include breakpoint(screen768) {
    min-width: 0;
    padding: 7px 20px;
  }

  &_desktop {
    @include breakpoint(screen768) {
      display: none;
      visibility: hidden;
    }
  }

  &_mobile {
    display: none;
    visibility: hidden;

    @include breakpoint(screen768) {
      display: inline-flex;
      visibility: visible;
    }
  }
}

.description {
  @include common-paragraph(p,
  $font-family: $ff-openSans,
  $font-weight: $regular);


  line-height: 130%;
  margin: 0;
  margin-top: 25px;

  @include breakpoint(screen768) {
    //font-size: $paragraph-md;
    margin-top: 0;
  }
}


.arrowsCardInfo {
  margin-top: 25px;
}

.arrowsButtonContainer {
  display: flex;
  gap: 15px;

  &_desktop {
    @include breakpoint(screen768) {
      display: none;
      visibility: hidden;
      gap: 0;
    }
  }

/*   &_mobile {
    display: none;
    visibility: hidden;
  } */
}



.arrowNavigate {
  display: none;
  visibility: hidden;

  @include breakpoint(screen768) {
    position: absolute;
    visibility: visible;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    & span {
      background-color: $white;
      opacity: .6;
      transition: opacity .3s linear;

      &:focus {
        outline: auto;
      }

      &:hover {
        opacity: 1;
        transition: opacity .3s linear;
      }
    }
  }

  &_left {
    left: 0;
  }

  &_right {
    right: 0;
  }
}
