@import '~global_styles';

.wrapper {
  grid-area: faqBlock;
  padding: $padding-gap;
}

.container {
  @include mainContainer();
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
  border-bottom: 2px solid $gray;
}

.title {
  @include common-title(hTitle);

}
.buttonAsk {
  @include common-button(colored);
  @include common-paragraph(p,
  $color: $white,
  $font-family: $ff-openSans,
  $font-weight: $regular);
  text-align: center;
  text-wrap: nowrap;
  min-width: 220px;
  width: 220px;
}
