@import '~global_styles';

.wrapper {
  background-color: $dark;
  &_first {
    grid-area: requestAction-1;
  }
  &_second {
    grid-area: requestAction-2;
  }
}

.container {
  @include mainContainer($padding: 70px 120px 90px);
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  @include common-title(h3, $color: $white);
}

.description {
@include common-paragraph(pXl,
              $color: $white,
              $line-height: 125%);
}

.formContainer {
  max-width: 50%;
}
