@import '~global_styles';

.wrapper {
  padding: $padding-gap;

  @include breakpoint(screen1024) {
    padding: $padding-gap-tab;
  }

  @include breakpoint(screen768) {
    padding: $padding-gap-mob;
  }


  &__color_dark {
    background-color: $dark;
  }

  &__color_green {
    background-color: $accent-green;
  }


  &_first {
    grid-area: requestAction-1;
  }

  &_second {
    grid-area: requestAction-2;
  }
  &_third {
    grid-area: requestAction-3;
  }
}

.container {
  @include mainContainer();
  @include flexColumnGap($gap: 20px);

    @include breakpoint(screen576) {
    gap: 16px;
  }
}

.title {
  @include common-title(hSubtitle, $color: $white);
}

.description {
  @include common-paragraph(pXl,
    $color: $white,
    $line-height: 125%);
}

.smallDescription {
  @include common-paragraph(p,
    $color: $white,
    $font-weight: $light,
    $line-height: 125%);
}

.formContainer {
  width: clamp(600px, 70%, 720px); //50%;

  @include breakpoint(screen768) {
    width: 100%;
  }
}
