@import '~global_styles';

.wrapper {
  background-color: $accent-gray;
  color: $white;
  z-index: 0;
  position: relative;

}
.backgroundRight {
  @include breakpoint(screen1440) {
    width: 80%;
  }
}
.backgroundLeft {
  @include breakpoint(screen1440) {
    width: 60%;
  }
}


.container {
  @include mainContainer();

  z-index: 5;
  display: flex;
  justify-content: space-between;
  gap: 60px;

    @include breakpoint(screen1280) {
      gap: 20px;
    }

  &_first {
    @extend .container;
    padding-bottom: 60px;
  }

  &_second {
    @extend .container;
    padding-bottom: 50px;
  }
}


.countInfo {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  &__title {
    @include common-title(hSmall,
    $color: $white);
    margin-bottom: 24px;
  }

  &__num {
    @include special-text(decorate,
              $font-weight: $bold,
              $line-height: 100%);
    display: flex;
    width: fit-content;
    padding-bottom: 1.5rem;
  }

  &__description {
    @include common-paragraph(p,
        $font-weight: $regular,
        $color: $white);

    padding-left: 20px;
    border-left: 4px solid $white;
  }
}


.img {
  max-width: clamp(375px, 55%, 780px);
  width: 100%;
  height: calc(clamp(270px, 40vw, 450px) - 40px);
  position: relative;

  @include breakpoint(screen1440) {
    height: clamp(270px, 40vw, 370px);
  }


  &__image {
    object-fit: contain;
    object-position: top right;

    position: absolute;
    top: -40px;
    right: 0;

    width: 100%;
    height: 100%;
  }
}




.requestForm {
  flex-shrink: 1;
  width: 100%;
  &__description{
    @include common-paragraph(pXl,
    $color: $white,
    $margin: 35px 0 25px);
  }

  @include breakpoint(screen1440) {
    flex-shrink: 1.2;
  }
}
