@import '~global_styles';

.wrapper {
  grid-area: title;
  position: relative;
  padding: $padding-gap;

  @include breakpoint(screen1024) {
    padding: $padding-gap-tab;
  }

  @include breakpoint(screen768) {
    padding: $padding-gap-mob;
  }
}

.container {
  @include flexColumnGap();

  @include breakpoint(screen768) {
    gap: 30px;
  }

  @include breakpoint(screen576) {
    gap: 24px;
  }
}


.title {
  @include common-title(h1);
  @include mainContainer();
}

.disclaimerWrapper {
  background-color: $accent-green;
}

.disclaimerContainer {
  @include mainContainer($padding-upDown: 80px);

  display: flex;
  gap: 35px;


  @include breakpoint(screen768) {
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include breakpoint(screen576) {
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}


.disclaimerIcon {
  & svg {
    width: 70px;
    height: 70px;
  }

  @include breakpoint(screen768) {
    & svg {
      width: 60px;
      height: 60px;
    }
  }

  @include breakpoint(screen576) {
    & svg {
      width: 50px;
      height: 50px;
    }
  }
}

.disclaimerText {
  @include common-paragraph(pXl,
    $font-weight: $regular,
    $color: $white);
  line-height: 140%;
  width: auto;
  display: inline-flex;
  flex-direction: column;

  @include breakpoint(screen768) {
    display: inline;
  }
}

.disclaimerText_spanAccent {
  @extend .disclaimerText;
  font-weight: $bold;
}

.addressContainer {
  @include mainContainer();

}

.contactsContainer {
  @include mainContainer();

  display: flex;
  align-items: center;
  //flex-wrap: wrap;
  gap: 20px 30px;
  justify-content: space-between;

  @include breakpoint(screen1280) {
    flex-wrap: wrap;
  }

  @include breakpoint(screen1024) {
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 80px;
  }

  @include breakpoint(screen768) {
    column-gap: 40px;
  };
  @include breakpoint(screen576) {
    gap: 16px;
  }
}


.workTime {
  @include common-paragraph(pLg,
    $font-weight: $regular);

  flex-shrink: 3;

  &_spanAccent {
    @extend .workTime;
    font-weight: $bold;
  }
}

.phoneNumber {
  @include common-paragraph(pLg,
    $color: $accent-green,
    $font-weight: $bold);
}

.emailContainer {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  margin: auto 0;

  @include breakpoint(screen1280) {
    margin-left: auto;
  }

  @include breakpoint(screen1024) {
    margin-left: 0;
  }

  @include breakpoint(screen768) {
    align-items: center;
    gap: 10px;
  }
  &:hover {
    & .email {
      color: $accent-green-hover-dark;
      transition: all 0.2s linear;
    }

    & svg {
      fill: $accent-green;
      stroke: $white;
      transition: all 0.2s linear;
    }
  }
}


.email {
  @include common-paragraph(pLg,
    $font-weight: $regular,
    $color: $accent-green,
    $line-height: 100%);
  text-decoration: none;
  border-bottom: 1px solid $accent-green;
  transition: all 0.2s linear;

}

.emailIcon {
  display: flex;

  & svg {
    transition: all 0.2s linear;


    @include breakpoint(screen768) {
      scale: .8;
    }
  }
}
